<div class="container-md">
	<div class="row">
		<div class="col-lg-2">
			<div class="card b">
				<div class="card-header bg-gray-lighter text-bold">
					Personal Settings
				</div>
				<div class="list-group">
					<a
						href="javascript:void(0)"
						class="list-group-item"
						(click)="setActiveTab = 1"
						[ngClass]="{ active: setActiveTab == 1 }"
						>Profile</a
					>
					<a
						href="javascript:void(0)"
						class="list-group-item"
						(click)="setActiveTab = 2"
						[ngClass]="{ active: setActiveTab == 2 }"
						>Account</a
					>
				</div>
			</div>
		</div>
		<div class="col-lg-7">
			<!-- Profile -->
			<div *ngIf="setActiveTab == 1">
				<div class="card b">
					<div class="card-header bg-gray-lighter text-bold">
						Profile
					</div>
					<div class="card-body">
						<!-- Attchment -->
						<div class="col-lg-11">
							<single-attachment
								(imageUrl)="imageData($event)"
								[uImagePathParam]="imagePathParams"
							></single-attachment>
						</div>
						<div class="formSpace">
							<app-ct-form-builder
								[formFieldsJson]="profileJson"
								[refMap]="refMapProfile"
								[modelData]="registeredData"
								[options]="optionsProfile"
								(saveDataEmitter)="
									createData($event, 'profile')
								"
								(updateDataEmitter)="
									updateAddressData($event, 'profile')
								"
								(cancelDataEmitter)="cancelProfile($event)"
								[isDisabled]="isFieldsDisabled"
							>
							</app-ct-form-builder>
						</div>
					</div>
				</div>
			</div>

			<!-- change password -->
			<div *ngIf="setActiveTab == 2">
				<div class="card b">
					<div class="card-header bg-gray-lighter text-bold">
						Account
					</div>
					<div class="card-body">
						<app-change-password
							(passwordUpdate)="emitedPasswordUpdate($event)"
						></app-change-password>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
