<div class="row h-60 g no-gutters">
	<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<div class="slider-light"></div>
		<div class="slide-img-bg"></div>

		<div class="row d-flex flex-column no-gutters">
			<span class="logo"></span>
			<h3 class="txt">Who you are?</h3>
			<h6 class="txt2">Find What You Need And Engage With Confidence</h6>
			<br />
			<h6 class="txt3">I am a...</h6>
		</div>

		<div class="row pt-2 justify-content-center no-gutters">
			<div class="card-deck">
				<div class="card col-centered col-auto mb-5 cd1">
					<a
						class="card-block stretched-link text-decoration-none"
						id="sample"
						(click)="Active($event, 0)"
						href="javascript:void(0)"
					>
						<div class="card-body">
							<img class="founder responsive pt-5" />
							<p class="card-text pt-3 one center-align">
								Founder
							</p>
						</div>
					</a>
					<ng-template #popContent
						>some content<br /><button class="btn1">
							I got it
						</button>
					</ng-template>
					<ng-template #popTitle3
						><img class="founder2 pt-5" /><br />
						<p style="margin-top: -13px;"><b>Who is Founder?</b></p>
					</ng-template>
					<button
						type="button"
						class="btn btt oneb m"
						[ngbPopover]="popContent"
						[popoverTitle]="popTitle3"
						placement="right"
					>
						Learn More
					</button>
				</div>

				<div class="card col-centered col-auto mb-5 cd2">
					<a
						class="card-block stretched-link text-decoration-none"
						(click)="Active($event, 1)"
						href="javascript:void(0)"
					>
						<div class="card-body">
							<img class="fixer responsive pt-5" />
							<p class="card-text pt-2 two">Fixer</p>
						</div>
					</a>
					<ng-template #popContent
						>Some content<button class="btn1">I got it</button>
					</ng-template>
					<ng-template #popTitle1
						><img class="fixer2 pt-5" /><br />
						<p style="margin-top: -17px;"><b>Who is Fixer?</b></p>
					</ng-template>
					<button
						type="button"
						class="btn btt twob m"
						[ngbPopover]="popContent"
						[popoverTitle]="popTitle1"
						placement="right"
					>
						Learn More
					</button>
				</div>

				<div class="card col-centered col-auto mb-5 cd3">
					<a
						class="card-block stretched-link text-decoration-none"
						(click)="Active($event, 2)"
						href="javascript:void(0)"
					>
						<div class="card-body">
							<img class="funder responsive pt-5" />
							<p class="card-text pt-3 three">Funder</p>
						</div>
					</a>
					<ng-template #popContent
						>some content<br /><button class="btn1">
							I got it
						</button>
					</ng-template>
					<ng-template #popTitle2
						><img class="funder2 pt-5" /><br />
						<p style="margin-top: -17px;"><b>Who is Funder?</b></p>
					</ng-template>
					<button
						type="button"
						class="btn btt threeb m"
						[ngbPopover]="popContent"
						[popoverTitle]="popTitle2"
						placement="right"
					>
						Learn More
					</button>
				</div>
			</div>

			<br />
		</div>
	</div>
</div>

<div class="row h-25 d-flex no-gutters g float-right pd">
	<a href="javascript:void(0)" (click)="genericRole()">
		<p class="btn3 pr-3" id="sample" (click)="Deactive($event)">
			<u><i>Skip for Now</i></u>
		</p>
	</a>

	<button
		[disabled]="!enable"
		type="button"
		(click)="specificRole()"
		class="btn btn-wide mb-2 mr-5 btn-light text-justify-right float-right bt"
		style="font-size: 14px;"
		[ngClass]="changeBtn"
	>
		Next<i class="fas fa-arrow-right pl-2"></i>
	</button>
</div>
<div class="row no-gutters mg" style="bottom: 0px !important;">
	<!-- <span class="dot cs " ></span> -->
</div>
