span.logo {
	background: url('../../../assets/icons/logoblue.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 90px;
	width: 90px;
	margin-top: 40px;
	margin-left: 40px;
}

span.dot {
	background: url('../../../assets/icons/group116.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
}

.txt {
	font-family: Montserrat;
	font-size: 30px;
	font-weight: 800;
	text-align: center;
	color: black;
}

.txt2 {
	font-family: Montserrat;
	font-size: 20px;
	//font-weight:50 ;
	text-align: center;
	color: gray;
}

.txt3 {
	font-family: Montserrat;
	font-size: 20px;
	//font-weight:100;
	text-align: center;
	color: gray;
}

.two {
	font-size: 17px;
	color: rgba(24, 21, 21, 0.822);
	font-weight: 500;
}

.one {
	font-size: 17px;
	color: rgba(24, 21, 21, 0.822);
	font-weight: 500;
}

.three {
	font-size: 17px;
	color: rgba(24, 21, 21, 0.822);
	font-weight: 500;
}

img.founder2 {
	background: url('../../../assets/icons/founder.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 23px;
	width: 23px;
	margin-top: -7px;
	margin-bottom: auto;
	//margin-left: 10px;
	outline: rgb(243, 243, 232);
}

img.founder {
	background: url('../../../assets/icons/founder.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 45px;
	width: 45px;
	margin-top: 10px;
	margin-bottom: auto;
	//margin-left: 10px;
	outline: rgb(243, 243, 232);
}

img.founder1 {
	background: url('../../../assets/icons/founder_1.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 45px;
	width: 45px;
	margin-top: 10px;
	margin-bottom: auto;
	//margin-left: 10px;
	outline: rgb(243, 243, 232);
}

img.funder2 {
	background: url('../../../assets/icons/funder.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 25px;
	width: 25px;
	margin-top: -1px;
	margin-bottom: auto;
	//margin-left: 10px;
	outline: rgb(243, 243, 232);
}

img.funder {
	background: url('../../../assets/icons/funder.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 45px;
	width: 45px;
	margin-top: 10px;
	margin-bottom: auto;
	//margin-left: 10px;
	outline: rgb(243, 243, 232);
}

img.funder1 {
	background: url('../../../assets/icons/funder_1.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 45px;
	width: 45px;
	margin-top: 10px;
	margin-bottom: auto;
	//margin-left: 10px;
	outline: rgb(243, 243, 232);
}

img.fixer2 {
	background: url('../../../assets/icons/fixer.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 23px;
	width: 23px;
	margin-top: -1px;
	margin-bottom: auto;
	outline: rgb(243, 243, 232);
}

img.fixer {
	background: url('../../../assets/icons/fixer.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 45px;
	width: 45px;
	margin-top: 17px;
	margin-bottom: auto;
	outline: rgb(243, 243, 232);
}

img.fixer1 {
	background: url('../../../assets/icons/fixer_1.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 45px;
	width: 45px;
	margin-top: 17px;
	margin-bottom: auto;
	outline: rgb(243, 243, 232);
}

.row-centered {
	text-align: center;
}

.col-centered {
	height: 150px;
	width: 150px;
	display: inline-block;
	float: none;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	outline-width: 0.5px;
	border-radius: 5px;
	background: rgb(236, 234, 234);
	border: 0.5px solid rgb(170, 169, 169);
}

.col-centered1 {
	height: 150px;
	width: 150px;
	display: inline-block;
	float: none;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	outline-width: 0.5px;
	border-radius: 5px;
	background: #007bff;
	border: 0.5px solid rgb(170, 169, 169);
	color: black;
}

.btntrans {
	font-size: 8px;
	color: white;
}

.btt {
	font-size: 8px;
	color: grey;
}

.btn1 {
	font-size: x-small;
	border-style: solid;
	border-width: 0.2px;
	border-color: rgba(73, 71, 71, 0.63);
}

.btn3 {
	font-family: italic;
	font-size: 12px;
	color: grey;
	margin-top: 10px;
}

.m {
	margin-top: -50px;
}

.bt {
	color: rgb(63, 51, 51);
	background-color: grey;
	font-size: 10px;
}

.add {
	color: white;
	// background-color: green;
	background-color: #2abc6e;
	font-size: 10px;
}

.transition {
	color: white;
}

.cs {
	margin-left: -100px;
	margin-top: 80px;
	height: 90px;
	width: 300px;
}

.g {
	overflow-y: scroll;
}

.g::-webkit-scrollbar {
	display: none;
}

.mg {
	margin-top: 0px;
}

.pd {
	margin-right: 400px;
}

@media only screen and (max-width: 1024px) {
	.cs {
		margin-left: -80px;
		margin-top: -8px;
		height: 70px;
		width: 200px;
	}

	.mg {
		margin-top: -30px;
	}

	.pd {
		margin-right: 230px;
		margin-top: -10px;
	}
}

@media only screen and (max-width: 768px) {
	.cs {
		margin-left: -50px;
		margin-top: -20px;
		height: 50px;
		width: 200px;
	}

	.mg {
		margin-top: -6px;
	}

	.pd {
		margin-right: 130px;
		margin-top: -10px;
	}
}

@media only screen and (max-width: 425px) {
	div.pd {
		margin-right: 75px;
	}

	.cs {
		margin-left: 0px;
		margin-top: 0px;
		height: 0px;
		width: 0px;
	}
}

@media only screen and (max-width: 320px) {
	div.pd {
		margin-right: 40px;
	}

	.cs {
		margin-left: 0px;
		margin-top: 0px;
		height: 0px;
		width: 0px;
	}
}
