<div class="conrtainer">
	<div class="row no-gutters h-100">
		<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 bg-night-sky">
			<div>
				<span class="inventlogo pointer-ref" (click)="routerNavigation('landing')"></span>
			</div>
			<br />
			<br />

			<div class="container">
				<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
					<div class="slide-img-bg"></div>
					<div class="slider-content text-light">
						<div
							class="col-sm-12 col-md-10 col-lg-10 col-xs-6 justify-content align"
						>
							<!-- <h3 class="fw">Start Here</h3> -->
							<h2 style="font-weight: 500 !important;">
								Start Here
							</h2>
							<p style="font-size: 14px;">
								Documentation and examples for Bootstrap’s
								powerful, responsive navigation header, the
								navbar. Includes support for branding
								Documentation
							</p>
							<!-- <small>Documentation and examples for Bootstrap’s powerful, responsive navigation header, the navbar. Includes support for branding Documentation</small> -->

							<p>
								Explore More <i class="fa fa-arrow-right"></i>
							</p>
						</div>
						<div class="center-align">
							<span class="Group866 img-fluid"></span>
						</div>
						<!-- <div class="d-sm-none d-xs-none d-md-block d-lg-block ">
                            <span class="dot img-fluid"></span>
                        </div> -->
					</div>
				</div>
			</div>
		</div>

		<div
			class="col-md-6 col-sm-6 col-xs-6 col-lg-6 d-flex bg-white justify-content-center align-items-center"
		>
			<div
				class="login-box-padding mx-auto app-login-box col-sm-12 col-md-10 col-lg-10 col-xs-12 abc"
			>
				<h2 class="centre-text-bold">Login</h2>

				<div class="mt-4">
					<form
						[formGroup]="loginForm"
						(validSubmit)="submit($event, loginForm.value)"
					>
						<div class="row">
							<div class="col-xl-8 margin-h-center">
								<fieldset class="form-group">
									<div tabindex="-1" role="group">
										<input formControlName="email"
											id="exampleEmail"
											name="email"
											type="email"
											placeholder="Email id"
											class="form-control"
										/>
									</div>
								</fieldset>
							</div>
						</div>
						<div class="row">
							<div class="col-xl-8 margin-h-center">
								<fieldset class="form-group">
									<div tabindex="-1" role="group">
										<input
											id="examplePassword"
											formControlName="password"
											name="password"
											type="password"
											placeholder="Password"
											class="form-control password-noImage"
										/>
									</div>
								</fieldset>
							</div>
						</div>
						<div class="center-align">
							<button
								type="submit"
								class="font-large btn btn-wide mb-2 mr-2 btn-success"
							>
								Login
								<i class="fa fa-arrow-right"></i>
							</button>
						</div>
					</form>
					<br />
					<br />
					<div class="center-align">
						<div class="hrdivider">
							<hr />
							<span>Or With</span>
						</div>
						<div style="margin-top: -30px;">
							<button
								(click)="signInWithGoogle()"
								type="button"
								class="btn btn-wide mb-2 mr-2 btn-white btnw"
							>
								<span class="googleicon"></span> Google
							</button>
							<button
								(click)="signInWithLinkedIn()"
								type="button"
								class="btn btn-wide mb-2 mr-2 btn-primary btnw"
							>
								<i class="fab fa-linkedin-in"></i> LinkedIn
							</button>
						</div>
					</div>
					<br />
					<div class="center-align">
						<p
							class="centre-text"
							style="margin-top: 0; margin-bottom: -2px;"
						>
							<b>New Here?</b>
							<a href="#/auth/sign-up"> Register Now</a>
						</p>
						<a class="centre-text text-dark" href=""
							><b>Forgot Password?</b></a
						>
						<br />
						<br />
						<br />
						<br />
						<br />
						<br />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
