span.inventlogo {
	background: url('../../../assets/icons/inventlogo.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 64px;
	width: 85px;
	margin-top: 42px;
	margin-left: 30px;
}

span.dot {
	background: url('../../../assets/icons/dotcommon.svg') no-repeat bottom
		center;
	background-size: contain;
	display: inline-block;
	height: 100px;
	width: 160px;
	// margin-top: 42px;
	margin-left: 582px;
	margin-top: -20px;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.space {
	padding-top: 0px;
}

.parap {
	padding-right: 180px;
}

::placeholder {
	color: blue;
	opacity: 0.5;
	/* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: blue;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: blue;
}

.btn-white {
	background-color: white;
	border: 1px solid lightgrey;
}

.hrdivider {
	position: relative;
	margin-bottom: 20px;
	width: 100%;
	text-align: center;
}

.hrdivider span {
	position: relative;
	top: -30px;
	background: #fff;
	padding: 0 20px;
	font-size: 14px;
	color: blue;
}

.display_text_center {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

span.googleicon {
	background: url('../../../assets/icons/32px-Google__G__Logo.svg.png')
		no-repeat top left;
	background-size: contain;
	cursor: pointer;
	display: inline-block;
	height: 10px;
	width: 10px;
}

span.Group866 {
	background: url('../../../assets/icons/group866.svg') no-repeat top left;
	background-size: contain;
	cursor: pointer;
	display: inline-block;
	// height: 200px;
	// width: 220px;
	height: 230px;
	width: 230px;
	margin-top: 40px;
}

.btnw {
	// height: 30px;
	height: 34px;
	width: 180px;
	font-size: 14px;
}

.login-box-padding {
	padding-top: 85px;
}

::ng-deep .password-noImage.is-valid {
	border-color: #ced4da !important;
	padding-right: 2.25rem !important;
	background-repeat: no-repeat !important;
	background-position: center right calc(2.25rem / 4) !important;
	background-size: calc(2.25rem / 2) calc(2.25rem / 2) !important;
	background-image: url();
}

::ng-deep .password-noImage.is-invalid {
	border-color: #d92550 !important;
	padding-right: 2.25rem !important;
	background-repeat: no-repeat !important;
	background-position: center right calc(2.25rem / 4) !important;
	background-size: calc(2.25rem / 2) calc(2.25rem / 2) !important;
	background-image: url() !important;
}

.font-large {
	font-size: 14px;
}
@media only screen and (max-width: 1024px) {
	span.dot {
		background: url(../../../assets/icons/dotcommon.svg) no-repeat bottom
			center;
		background-size: contain;
		display: inline-block;
		height: 94px;
		width: 180px;
		margin-top: 55px;
		margin-left: 399px;
		overflow: hidden;
		position: relative;
		z-index: 1;
	}
}

@media only screen and (max-width: 768px) {
	span.dot {
		background: url(../../../assets/icons/dotcommon.svg) no-repeat bottom
			center;
		background-size: contain;
		display: inline-block;
		height: 54px;
		width: 129px;
		margin-left: 295px;
		overflow: hidden;
		position: relative;
		z-index: 1;
		margin-top: -5px;
	}
	span.Group866 {
		background: url('../../../assets/icons/group866.svg') no-repeat top left;
		background-size: contain;
		cursor: pointer;
		display: inline-block;
		height: 141px;
		width: 188px;
		margin-top: 10px;
	}
	.align {
		padding-left: 30px !important;
	}
	.abc {
		margin-top: 50px;
	}
	.login-box-padding {
		padding-top: 40px;
	}
}

@media only screen and (max-width: 425px) {
	span.dot {
		background: url(../../../assets/icons/dotcommon.svg) no-repeat bottom
			center;
		display: none;
	}
	.abc {
		margin-top: 50px;
	}
	.align {
		padding-left: 20px !important;
	}
	span.Group866 {
		background: url('../../../assets/icons/group866.svg') no-repeat top left;
		background-size: contain;
		cursor: pointer;
		display: inline-block;
		height: 221px;
		width: 188px;
		margin-top: 10px;
	}
}

.fw {
	font-weight: 500px !important;
}

::ng-deep .swal-title {
	margin: 0px !important;
	font-size: 18px !important;
	// box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21) !important;
	margin-bottom: 8px !important;
	position: relative !important;
	max-width: 100% !important;
	padding: 0 !important;
	color: #595959 !important;
	// font-size: 1.875em !important;
	font-weight: 400 !important;
	text-align: center !important;
	text-transform: none !important;
	word-wrap: break-word !important;
}

::ng-deep .swal2-actions {
	margin: 0 !important;
}

::ng-deep .swal2-icon {
	margin: 10px !important;
}

::ng-deep .swal2-content {
	margin-bottom: 8px !important;
	font-weight:400 !important;
}