span.thankyou {
  background: url("../../assets/icons/logosolid.svg") no-repeat top left;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  width: 350px;
  margin-top: 40px;
  margin-left: 30px;
}

span.logoplain {
  background: url("../../assets/icons/logoplain.svg") no-repeat top left;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 60px;
  width: 100px;
  margin-top: 40px;
  margin-left: 20px;
}
span.dots {
  background: url("../../assets/icons/dots.svg") no-repeat top left;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  width: 100px;
}

.hiden-overflow {
  overflow: hidden;
}

.center-align {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textfont {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 500;
  color: black;
  margin-left: 20px;
}
.textfont2 {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 500;
  color: black;
  margin-left: 20px;
}

.textfont3 {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 500;
  color: blue;
  margin-left: 20px;
}

.textfont4 {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 500;
  color: grey;
  margin-left: 20px;
}
