<div class="container-fluid hiden-overflow">
  <div class="row no-gutters">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div><span class="thankyou"></span></div>
    </div>
  </div>
  <div class="row center-align">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <br />
      <br />
      <span class="img-fluid logoplain"></span>
      <div class="d-flex flex-column textfont">Thank you</div>
      <div class="d-flex flex-column textfont2">
        We will get back to you soon
      </div>
      <br />
      <div><span class="dots"></span></div>
      <br />
      <br />
      <br />
      <div class="textfont3">
        Did you know?
      </div>
      <br />
      <div class="textfont4">
        <span>invent funds receives around 10k new ideas everyday</span><br />
        <span
          >recognized invent funds as oneof the fastest growing ideation and
          funding</span
        >
      </div>
    </div>
  </div>
</div>
