::ng-deep .swal-title {
	margin: 0px !important;
	font-size: 18px !important;
	// box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21) !important;
	margin-bottom: 28px !important;
	position: relative !important;
	max-width: 100% !important;
	padding: 0 !important;
	color: #595959 !important;
	// font-size: 1.875em !important;
	font-weight: 600 !important;
	text-align: center !important;
	text-transform: none !important;
	word-wrap: break-word !important;
}

::ng-deep .swal2-actions {
	margin: 0 !important;
}
