.carousel-model {
	position: absolute;
	z-index: -1;
}
.wrap {
	width: 100%;
	overflow-x: hidden;
	position: relative;
}

::ng-deep .carousel-control-next-icon {
	// background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 30 30'%3e%3cpath d='M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z'/%3e%3c/svg%3e");
	background-image: url('../../../assets/images-ui/right-arrow.svg') !important;
	// fill: green;
	background-color: whitesmoke;
    border-radius: 12px;
}

::ng-deep .carousel-control-prev-icon {
	// background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 30 30'%3e%3cpath d='M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z'/%3e%3c/svg%3e");
	background-image: url('../../../assets/images-ui/right-arrow.svg') !important;
	// fill: green;    
	transform: rotate(180deg);    
	background-color: whitesmoke;
    border-radius: 12px;
}

a.carousel-control-next-icon,
a.carousel-control-prev-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
}

.carousel_prev-button,
.carousel_next-button {
	position: absolute;
	z-index: 2;
	opacity: 0.5;
	margin: auto;
	background-color: transparent;
	text-align: center;
	cursor: pointer;
}

.carousel_next-button:hover,
.carousel_prev-button:hover {
	opacity: 0.8;
	transition: opacity 0.25s ease;
}

.carousel_prev-button {
	top: 50%;
	bottom: 0;
	left: 0;
	margin-top: -10px;
}

.carousel_next-button {
	top: 50%;
	bottom: 0;
	right: 0;
	margin-top: -10px;
}

.selectors {
	text-align: center;
}

.selector {
	width: 0.5rem;
	height: 0.5rem;
	border: 1px solid #0058b0;
	border-radius: 50%;
	margin: 0.5rem 0.25rem;
	display: inline-block;
	cursor: pointer;
}

.zoomed {
	height: 97%;
	width: 97%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
