<div class="row h-100 no-gutters">
	<div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
		<div class="slider-light">
			<div class="position-relative h-100 bg-night-sky">
				<div>
					<span class="inventlogo pointer-ref" (click)="routerNavigation('landing')"></span>
				</div>
				<br />
				<br />
				<div>
					<div
						class="text-light d-flex flex-column center-align pt-5"
					>
						<h3>We Have Sent You An</h3>
						<h3>Email Please Check</h3>
						<p>some content</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="center-align col-md-6">
		<div
			class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-10 col-xs-10"
		>
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<div class="center-align">
				<span class="img-fluid emailsent"></span>
			</div>
		</div>
	</div>
</div>
