span.emailsent {
	background: url('../../../assets/icons/emailsent.svg') no-repeat top left;
	background-size: contain;
	cursor: pointer;
	display: inline-block;
	height: 300px;
	width: 400px;
	margin-top: 40px;
}

span.inventlogo {
	background: url('../../../assets/icons/inventlogo.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 100px;
	width: 100px;
	margin-top: 42px;
	margin-left: 30px;
}

.center-align {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
