<div [class]="'app-header header-shadow ' + (config$ | async).headerTheme">
  <!-- <div class="logo-src"></div> -->
  <!-- <img style="width: 100px;" src="../../../assets/images/crecientechInfosystem.png" alt="logo"> -->

  <div class="app-header__content">
    <div class="app-header-left">
      <app-search-box></app-search-box>
      <!-- <app-mega-menu></app-mega-menu> -->
    </div>
    <div class="app-header-right">
      <!-- <app-dots></app-dots> -->
      <a *ngIf="!isLoggedIn" class="mr-3 ml-3" href="javascript:void(0)" style="color: white; margin-top: 10px;">
        <b>How it works</b>
      </a>
      <a *ngIf="!isLoggedIn" class="mr-3 ml-3" href="javascript:void(0)" style="color: white; margin-top: 10px;">
        <b>Contact</b>
      </a>
      <a *ngIf="!isLoggedIn" class="mr-3 ml-3" href="/login" style="color: white; margin-top: 10px;">
        <b>Login</b>
      </a>
      <a *ngIf="!isLoggedIn" class="mr-3 ml-3" href="/sign-up" style="color: white; margin-top: 10px;">
        <b>Sign Up</b>
      </a>
    
      <app-user-box *ngIf="isLoggedIn"></app-user-box>
    </div>
  </div>
  <div class="app-header__mobile-menu">
    <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
            [ngClass]="{'is-active' : globals.toggleSidebarMobile}" (click)="toggleSidebarMobile()">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
  </div>
  <div class="app-header__menu">
    <span>
        <button class="btn-icon btn-icon-only btn btn-primary" [ngClass]="{'is-active' : globals.toggleHeaderMobile}"
                (click)="toggleHeaderMobile()">
            <div class="btn-icon-wrapper">
                <fa name="ellipsis-v"></fa>
            </div>
        </button>
    </span>
  </div>
</div>
