<div class="conrtainer">
	<div class="row no-gutters h-100">
		<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 bg-night-sky">
			<div>
				<span class="inventlogo pointer-ref" (click)="routerNavigation('landing')"></span>
			</div>
			<br />
			<br />

			<div class="container">
				<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
					<div class="slide-img-bg"></div>
					<div class="slider-content text-light sd">
						<div class="col-sm-6 col-md-10 col-lg-10 col-xs-6 justify-content align">
							<h5 style="font-weight: 500 !important;">
								More than 60k Founders are
							</h5>
							<h5 style="font-weight: 500 !important;">
								Looking on Invent fund
							</h5>
							<h5 style="font-weight: 500 !important;">
								every week
							</h5>

							<p class="pt-2 ps h5">
								Explore More <i class="fa fa-arrow-right"></i>
							</p>
						</div>
						<div class="center-align">
							<span class="Group866 img-fluid"></span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 d-flex bg-white justify-content-center align-items-center">
			<div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-10 col-xs-12 abc">
				<h2 class="centre-text-bold">Register now</h2>

				<div class="mt-4">
					<form [formGroup]="signUpForm" (validSubmit)="submit($event, signUpForm.value)">
						<div class="row">
							<div class="col-xl-8 margin-h-center fc">
								<fieldset class="form-group">
									<div tabindex="-1" role="group">
										<input formControlName="email" id="exampleEmail" name="email" type="email"
											placeholder="Email id" class="form-control" />
									</div>
								</fieldset>
								<br />
								<br />
								<br />
								<br />
								<br />
							</div>
						</div>

						<div class="center-align">
							<button type="submit" class="btn btn-wide mb-2 mr-2 btn-success btnP font-large">
								Signup
								<i class="fa fa-arrow-right"></i>
							</button>
						</div>
					</form>
					<br />
					<br />
					<div class="center-align">
						<div class="hrdivider hr">
							<hr />
							<span>Or With</span>
						</div>
						<div style="margin-top: -30px;">
							<button (click)="signUpWithGoogle()" type="button"
								class="btn btn-wide mb-2 mr-2 btn-white btnw">
								<span class="googleicon"></span> Google
							</button>
							<button (click)="signUpWithLinkedIn()" type="button"
								class="btn btn-wide mb-2 mr-2 btn-primary btnw">
								<i class="fab fa-linkedin-in"></i> LinkedIn
							</button>
						</div>
					</div>
					<br />
					<div class="center-align">
						<p class="centre-text pw" style="margin-top: 0; margin-bottom: -2px;">
							Already have an account?
							<a href="#/auth/login"> Login</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<button (click)='signInWithFB()'>Facebook</button>