span.inventlogo {
	background: url('../../../assets/icons/inventfundlogo.svg') no-repeat top
		left;
	background-size: contain;
	display: inline-block;
	height: 64px;
	width: 85px;
	margin-top: 42px;
	margin-left: 30px;
}

span.dot {
	background: url('../../../assets/icons/group116.svg') no-repeat bottom
		center;
	background-size: contain;
	display: inline-block;
	height: 100px;
	width: 200px;
	margin-top: 6px;
	margin-left: 560px;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.hr {
	width: 8px;
}

.abc {
	margin-top: -90px;
}

.fc {
	margin-left: 6px;
	height: 30px;
	margin-top: 10px;
}

.btnP {
	margin-top: 30px;
	width: 140px;
}

.font-large {
	font-size: 14px;
}

.ps {
	font-size: 13px;
}

.space {
	padding-top: 0px;
}

.parap {
	padding-right: 180px;
}

::placeholder {
	color: blue;
	opacity: 0.5;
}

:-ms-input-placeholder {
	color: blue;
}

::-ms-input-placeholder {
	color: blue;
}

.btn-white {
	background-color: white;
	border: 1px solid lightgrey;
}

.hrdivider {
	position: relative;
	margin-bottom: 20px;
	width: 100%;
	text-align: center;
}

.hrdivider span {
	position: relative;
	top: -30px;
	background: #fff;
	padding: 0 20px;
	font-size: 14px;
	color: blue;
}

.display_text_center {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

span.googleicon {
	background: url('../../../assets/icons/32px-Google__G__Logo.svg.png')
		no-repeat top left;
	background-size: contain;
	cursor: pointer;
	display: inline-block;
	height: 10px;
	width: 10px;
}

span.Group866 {
	background: url('../../../assets/icons/register.svg') no-repeat top left;
	background-size: contain;
	cursor: pointer;
	display: inline-block;
	height: 230px;
	width: 230px;
	margin-top: 10px;
	margin-left: -60px;
}

.btnw {
	height: 34px;
	width: 180px;
	font-size: 14px;
}

@media only screen and (max-width: 1024px) {
	span.dot {
		background: url(../../../assets/icons/group116.svg) no-repeat bottom
			center;
		background-size: contain;
		display: inline-block;
		height: 80px;
		width: 160px;
		margin-left: 410px;
		overflow: hidden;
		position: relative;
		z-index: 1;
		margin-top: -60px;
	}

	span.inventlogo {
		background: url('../../../assets/icons/inventfundlogo.svg') no-repeat
			top left;
		background-size: contain;
		display: inline-block;
		height: 80px;
		width: 80px;
		margin-top: 20px;
		margin-left: 30px;
	}

	div.sd {
		margin-top: -40px;
	}
}

@media only screen and (max-width: 768px) {
	span.dot {
		background: url(../../../assets/icons/group116.svg) no-repeat bottom
			center;
		background-size: contain;
		display: inline-block;
		height: 80px;
		width: 160px;
		margin-left: 272px;
		overflow: hidden;
		position: relative;
		z-index: 1;
	}
	.h5 {
		font-size: 10px;
	}
}

@media only screen and (max-width: 425px) {
	span.dot {
		background: url(../../../assets/icons/group116.svg) no-repeat bottom
			center;
		display: none;
	}
	.abc {
		margin-top: 50px;
	}
	.align {
		padding-left: 20px;
	}
}

.align {
	padding-left: 70px;
}
