<div class="change-password-component">
	<form [formGroup]="changePasswordForm">
		<div class="row" *ngIf="hideCurrentpasswordInput">
			<div class="col-xl-8 margin-h-center">
				<label>Current password <span class="color-red">*</span></label>
			</div>
		</div>
		<div class="row" *ngIf="hideCurrentpasswordInput">
			<div class="col-xl-8 margin-h-center">
				<fieldset class="form-group custom-error-changepassword">
					<div tabindex="-1" role="group">
						<input
							formControlName="currentPassword"
							id="currentPassword"
							name="currentPassword"
							type="password"
							placeholder="Enter current password"
							class="form-control password-noImage"
							(change)="compareCurrentPassword()"
						/>
					</div>
				</fieldset>
			</div>
		</div>

		<div class="row">
			<div class="col-xl-8 margin-h-center">
				<label>New password <span class="color-red">*</span></label>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-8 margin-h-center">
				<fieldset class="form-group">
					<div tabindex="-1" role="group">
						<input
							formControlName="newPassword"
							id="newPassword"
							name="newPassword"
							type="password"
							placeholder="Enter new password"
							class="form-control password-noImage"
							(change)="compareCurrentAndNewPassword()"
						/>
					</div>
				</fieldset>
			</div>
		</div>

		<div class="row">
			<div class="col-xl-8 margin-h-center">
				<label>Confirm password <span class="color-red">*</span></label>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-8 margin-h-center">
				<fieldset class="form-group">
					<div tabindex="-1" role="group">
						<input
							formControlName="confirmPassword"
							id="confirmPassword"
							name="confirmPassword"
							type="password"
							placeholder="Enter confirm password"
							class="form-control password-noImage"
							(input)="compareCurrentAndNewPassword($event)"
						/>
					</div>
				</fieldset>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 right-align">
				<button
					class="btn btn-outline-secondary btn-group-lg"
					(click)="cancel(changePasswordForm)"
					style="height: 40px; width: 120px;"
				>
					Cancel
				</button>
				<button
					type="submit"
					style="height: 40px; width: 120px;margin-left: 10px;"
					class="btn btn-primary btn-group-lg"
					(click)="submit($event, changePasswordForm.value)"
					[disabled]="buttonEnable"
				>
					Save
				</button>
			</div>
		</div>
	</form>
</div>
