.color-red {
	color: red;
}

::ng-deep .password-noImage.is-valid {
	border-color: #ced4da !important;
	padding-right: 2.25rem !important;
	background-repeat: no-repeat !important;
	background-position: center right calc(2.25rem / 4) !important;
	background-size: calc(2.25rem / 2) calc(2.25rem / 2) !important;
	background-image: url();
}

::ng-deep .password-noImage.is-invalid {
	border-color: #d92550 !important;
	padding-right: 2.25rem !important;
	background-repeat: no-repeat !important;
	background-position: center right calc(2.25rem / 4) !important;
	background-size: calc(2.25rem / 2) calc(2.25rem / 2) !important;
	background-image: url() !important;
}

// ::ng-deep .invalid-feedback {
//     white-space: inherit !important;
// }

::ng-deep .custom-error-changepassword {
	.invalid-feedback {
    white-space: inherit !important;
}
}

.newCustomerButton {
	float: right;
	margin: 5px;
	z-index: 1;
	height: 40px;
	width: 120px;
}

::ng-deep .overflow {
	height: 480px !important;
	overflow: scroll !important;
}

.btnsize {
	width: 100px;
	height: 30px;
}

.p-15 {
	padding: 15px;
}

.p-l-r-15 {
	padding-left: 30px !important;
	padding-right: 30px !important;
}
