<nav
  class="navbar navbar-expand-md navbar-dark bg-fade fixed-top"
  style="background-color: #0058b0;"
>
  <a class="navbar-brand pointer-ref" (click)="routerNavigation('landing')">
    <img
      width="100"
      height="45"
      src="../../../assets/images/logo-transparent.svg"
      alt="logo"
    />
  </a>
  <button
    type="button"
    class="hamburger-button hamburger close-sidebar-btn hamburger--elastic"
    [ngClass]="{ 'is-active': globals.toggleSidebarMobile }"
    (click)="toggleSidebarMobile()"
  >
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <form class="form-inline ml-0 my-2 my-lg-0 margin-left-50">
      <div class="search-bar-padding input-group">
        <input
          class="form-control mr-sm-2"
          type="text"
          class="form-control"
          placeholder="Search"
        />
        <button class="btn" type="submit">
          <div class="input-group-append">
            <i style="color: white;" class="fa fa-search"></i>
          </div>
        </button>
      </div>
    </form>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link font-wt-600" style="color: white; margin-top: 10px;"
          >How it works</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link font-wt-600" style="color: white; margin-top: 10px;"
          >Contact</a
        >
      </li>
      <li class="nav-item" *ngIf="hideSign">
        <a
          class="nav-link font-wt-600"
          style="color: white; margin-top: 10px;"
          href="/login"
          >Login</a
        >
      </li>
      <li class="nav-item" *ngIf="hideSign">
        <a
          class="nav-link font-wt-600"
          style="color: white; margin-top: 10px;"
          href="/sign-up"
          >Sign Up</a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <img
            src="{{ avatar$ | async }}"
            width="40"
            height="40"
            class="rounded-circle"
          />
        </a>
        <div
          class="dropdown-menu position-right"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <h2 class="dropdown-item bold-18px">Account</h2>
          <a
            class="dropdown-item padding-top-0px"
            (click)="routerNavigation('profileSettings')"
            >Settings And Privacy</a
          >
          <!-- <a class="dropdown-item padding-top-0px">Help</a>
          <a class="dropdown-item padding-top-0px">Language</a>
          
          <h2 class="dropdown-item bold-18px">Manage</h2>
          <a class="dropdown-item padding-top-0px">Profile</a>
          <a class="dropdown-item padding-top-0px">Funder Account</a> -->
          <h2
            class="dropdown-item bold-18px"
            (click)="routerNavigation('profile')"
          >
            Profile
          </h2>
          <!-- <a class="dropdown-item padding-top-0px">Profile</a> -->
          <h2
            class="dropdown-item bold-18px"
            *ngIf="(currentRouter | async) != 'dashboard'"
            (click)="routerNavigation('dashboard')"
          >
            Dashboard
          </h2>
          <h2
            class="dropdown-item bold-18px"
            (click)="routerNavigation('logOut')"
          >
            Logout
          </h2>
        </div>
      </li>
    </ul>
  </div>
</nav>
