.font-wt-600{
    font-weight: 600;
}

.navbar-nav > li{
    margin-left:20px;
    margin-right:20px;
  }

  .bg-custom-1 {
    background-color: #85144b;
  }
  
  .bg-custom-2 {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  }

  .position-right {
    right: 10px !important;
  }

  .bold-18px {
    font-weight: 500;
    font-size: 16px;
    margin: 0px;
  }

  .padding-top-0px {
    padding-top: 0px;
  }

  .dropdown-menu {
    left: -150px !important;
  }
  .hamburger-button{
    margin-left: 30px;
  }

  .search-bar-padding{
    margin-left: 30px;
  }
  @media only screen and(min-width:320px) and (max-width: 768px) {
    .dropdown-menu {
      left: 0 !important;
      position: fixed !important;
      /* z-index: 50; */
      left: 68% !important;
      right: 0px;
      float: right;
      top: 21% !important;
      width: 30% !important;
      transform: translateY(-50%) !important;
      min-width: 10px !important;
    }
  } 

  @media only screen and(max-width:768px){
    .hamburger-button{
      margin-left: -8px;
    }
  
    .search-bar-padding{
      margin-left: 6px;
    }

    .navbar-nav > li{
      margin-left:0px;
      margin-right:20px;
    }
  
  }

 
