span.inventlogo {
  background: url("../../assets/icons/inventlogo.svg.svg") no-repeat top left;
  background-size: contain;
  display: inline-block;
  height: 75px;
  width: 75px;
  margin-top: 42px;
  margin-left: 35px;
}

span.dots {
  background: url("../../assets/icons/dots.svg") no-repeat bottom center;
  background-size: contain;
  display: inline-block;
  height: 180px;
  width: 180px;
  margin-top: 50px;
  margin-left: 550px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

::placeholder {
  color: blue;
  opacity: 0.5;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: blue;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: blue;
}

#exampleEmail {
  width: 300px;
  border-color: gray;
}

.spc {
  padding-left: 80px;
  margin-top: 90px;
}

.fullwidth {
  width: 100%;
}

.textfont {
  font-size: 12px;
  font-weight: 200px;
  width: 100%;
}

@media (max-width: 1440px) {
  span.dots {
    background: url("../../assets/icons/dots.svg") no-repeat bottom center;
    background-size: contain;
    display: inline-block;
    height: 180px;
    width: 180px;
    margin-top: 50px;
    margin-left: 555px;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
}

@media only screen and (max-width: 1024px) {
  span.dots {
    background: url("../../assets/icons/dots.svg") no-repeat bottom center;
    background-size: contain;
    display: inline-block;
    height: 180px;
    width: 180px;
    margin-top: 110px;
    margin-left: 430px;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  .spc {
    margin-top: 120px;
  }
}

@media only screen and (max-width: 768px) {
  span.dots {
    background: url("../../assets/icons/dots.svg") no-repeat bottom center;
    background-size: contain;
    display: inline-block;
    height: 180px;
    width: 180px;
    margin-top: 70px;
    margin-left: 300px;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
}

@media only screen and (max-width: 425px) {
  span.dots {
    background: url("../../assets/icons/dots.svg") no-repeat bottom center;
    display: none;
    height: 0px;
  }
  .spc {
    padding-left: 65px;
    margin-top: 85px;
    padding-bottom: 142px;
  }
  .alignment {
    padding-top: 180px;
    padding-bottom: 150px;
  }
}

@media only screen and (max-width: 320px) {
  .spc {
    padding-left: 35px;
    margin-top: 80px;
  }
  .textfont {
    font-size: 10px;
    font-weight: 150px;
    width: 100%;
  }
}
