<div class="row  no-gutters">
    <div class="col-lg-6 col-sm-6 col-md-6 col-xl-6">
        <div class="slider-light">
            <div class="position-relative bg-night-sky">
                <div class="slide-img-bg"></div>
                <div class="slider-content text-light">
                    <span class="inventlogo pointer-ref" (click)="routerNavigation('landing')"></span>
                    <div class="d-flex justify-content align-items flex-column spc ">
                        <h3>Forgot Your Password </h3>
                        <h3>Here To Help!!</h3><br>
                        <p class="textfont  pr-5">
                            Lorem ipsum dolar sit amet, consetetur sadipscing eltir, sed diam nonumy eirmond tempor invidunt ut labore magna aliquyam erat, sed diam</p>
                    </div>
                </div>
                <div>
                    <span class="dots "></span>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column bg-white justify-content-center align-items-center col-sm-12 col-xs-12 col-lg-6 col-md-6">
        <div class="alignment">
            <h3 class="centre-text-bold  justify-content-center ">Forgot Password</h3><br>
            <span class="centre-text-bold  justify-content-center d-flex" style="color:blue;font-size: 11px;">Please enter your E-mail id to recieve link to change the password</span>
            <input id="exampleEmail" name="email" type="email" placeholder="Email id" class="form-control mt-2 ml-2">
            <div class="center-align">
                <button style="font-size:17px" type="submit" class="btn btn-wide mb-2 mr-2 btn-success btn-size mt-5">
                    Send Email
            </button>
            </div>
        </div>
    </div>
</div>