.abc {
    position: relative;
    z-index: 0;
}

.arrow {
    font-size: 30px;
    padding-top: 100px;
    padding-left: -20px;
    color: blue;
}

.iframesize {
    position: absolute;
    z-index: 2;
    margin-left: 50px;
}

.bg-night-sky {
    position: relative;
    z-index: 1;
}

.margin {
    margin-top: 250px;
}

.center-align {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame {
    height: 350px;
    width: 700px;
    border-radius: 10px;
}

.textfont {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 500px;
    width: 100%;
    margin-top: -50px;
}

.textfont2 {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 200px;
    margin-left: 23px;
    width: 100%;
    padding: 100px;
}

.topmargin {
    margin-top: -50px;
}

@media only screen and (max-width: 1024px) {
    .abc {
        position: relative;
        z-index: 0;
    }
    .iframesize {
        position: absolute;
        z-index: 2;
        margin-left: 25px;
    }
    .bg-night-sky {
        position: relative;
        z-index: 1;
    }
    .textfont {
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 500px;
        width: 100%;
    }
    .textfont2 {
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 200;
        margin-left: 23px;
        width: 100%;
        padding: 20px;
    }
    .topmargin {
        margin-top: -50px;
    }
}

@media only screen and (max-width: 768px) {
    .abc {
        position: relative;
        z-index: 0;
    }
    .iframesize {
        position: absolute;
        z-index: 2;
        margin-left: 25px;
    }
    .bg-night-sky {
        position: relative;
        z-index: 1;
    }
    .textfont {
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 500px;
        width: 100%;
    }
    .textfont2 {
        font-family: Montserrat;
        font-size: 10px;
        font-weight: 200;
        margin-left: 23px;
        width: 100%;
        padding: 20px;
    }
    .topmargin {
        margin-top: -50px;
    }
    .frame {
        height: 250px;
        width: 500px;
        border-radius: 10px;
    }
}

@media only screen and (max-width: 425px) {
    .arrow {
        display: none;
    }
    .cardpadding {
        padding-top: 500px;
        text-align: center;
    }
    .abc {
        position: relative;
        z-index: 0;
    }
    .iframesize {
        position: absolute;
        z-index: 2;
        margin-left: 0px;
    }
    .bg-night-sky {
        position: relative;
        z-index: 1;
    }
    .textfont {
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 500px;
        width: 100%;
    }
    .textfont2 {
        font-family: Montserrat;
        font-size: 10px;
        font-weight: 200;
        margin-left: 5px;
        width: 100%;
        padding: 20px;
    }
    .topmargin {
        margin-top: 50px;
    }
    .frame {
        height: 250px;
        width: 500px;
        border-radius: 10px;
    }
}

.textsize {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500px;
}

.textsize1 {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500px;
}