<app-landing-header></app-landing-header>
<br><br><br><br>
<div class="abc row h-100 no-gutters">
    <div class=" col-md-6 col-sm-6 col-xs-6 col-lg-6">
        <div class="slider-light">
            <div class="position-relative h-100 d-flex justify-content-center align-items-center ">
                <div class="slide-img-bg"></div>
                <div class="center-align iframesize">
                    <iframe class="frame" src="https://www.youtube.com/watch?v=DZMq09drgNg"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="h-100 d-flex flex-coloumn bg-white justify-content-center align-items-center col-md-6 col-sm-6 col-lg-6 col-xs-6 bg-night-sky">
        <div class="container topmargin">
            <div class=" text-light textfont center-align">
                Invest in amazing Ideas
            </div> <br>
            <div class="container p5">
                <div class="text-light textfont2">
                    <div>You got an Idea and needs to be funded go on and post your Ideas so that we show it to the investors who are interested in your domain and Bring your Ideas into reality and help you reach you dreamt idea to existence</div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="container mt-5 cardpadding">
    <div class="card-deck">
        <div class="card mr-3">
            <div class="card-body ">
                <span class="card-text">
       <h5> <b class=" textsize text-dark">Pitch</b></h5>
        <h5> <b class=" textsize text-dark">Your Ideas</b></h5>
        <br>
        <p class="textsize1 text-center">
            The entrepreneurs and start-up companies seeking venture capital range 
            from innovative inventions</p>
      </span>
            </div>
        </div>
        <i class="fa fa-arrow-right arrow p1"></i>
        <div class="card mr-3">
            <div class="card-body">
                <span class="card-text">
        <h6> <b class="textsize text-dark">Get</b></h6>
        <h6><b class="textsize text-dark">discovered</b></h6>
        <br>
        <p class="textsize1 text-center">
            The entrepreneurs and start-up companies seeking venture capital range
             from innovative inventions</p>
     </span>
            </div>
        </div>
        <i class="fa fa-arrow-right arrow p1"></i>
        <div class="card mr-3">
            <div class="card-body ">
                <span class="card-text">
        <h6><b class="textsize text-dark">Get</b></h6>
        <h6> <b class="textsize text-dark">discovered</b></h6>
        <br>
        <p class="textsize1 text-center">The entrepreneurs and start-up companies seeking 
           venture capital range from innovative inventions</p>
     </span>
            </div>
        </div>
    </div>
    <br>
    <br>
    <h4 style=" font-family: Montserrat;"> <b class="center-align text-primary mt-5">FAQ </b></h4>
    <br>
    <br>
    <div class="container row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <h6 class="text-primary p-1">Lorem ipsum..</h6>
            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                        <a class="card-link text-dark small" data-toggle="collapse" href="#collapseOne">
            Collapsible Group Item #1 <i class="fas fa-angle-down rotate-icon"></i>
          </a>
                    </div>
                    <div id="collapseOne" class="collapse " data-parent="#accordion">
                        <div class="card-body">
                            Lorem ipsum
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link text-dark small" data-toggle="collapse" href="#collapseTwo">
            Collapsible Group Item #2 <i class="fas fa-angle-down rotate-icon"></i>
          </a>
                    </div>
                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            Lorem ipsum..
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link text-dark small" data-toggle="collapse" href="#collapseThree">
        Collapsible Group Item #3 <i class="fas fa-angle-down rotate-icon"></i>
      </a>
                </div>
                <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Lorem ipsum..
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <h6 class="text-primary p-1">Lorem ipsum..</h6>
            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                        <a class="card-link text-dark small" data-toggle="collapse" href="#collapse">
            Collapsible Group Item #1<i class="fas fa-angle-down rotate-icon"></i>
          </a>
                    </div>
                    <div id="collapse" class="collapse " data-parent="#accordion">
                        <div class="card-body">
                            Lorem ipsum
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link text-dark small" data-toggle="collapse" href="#collapseSeven">
            Collapsible Group Item #7 <i class="fas fa-angle-down rotate-icon"></i>
          </a>
                    </div>
                    <div id="collapseSeven" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            Lorem ipsum..
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link text-dark small" data-toggle="collapse" href="#collapseEight">
        Collapsible Group Item #3 <i class="fas fa-angle-down rotate-icon"></i>
                   </a>
                </div>
                <div id="collapseEight" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Lorem ipsum..
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <h6 class="text-primary p-1">Lorem ipsum..</h6>
            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                        <a class="card-link text-dark small" data-toggle="collapse" href="#collapsible">
            Collapsible Group Item #1 <i class="fas fa-angle-down rotate-icon"></i>
          </a>
                    </div>
                    <div id="collapsible" class="collapse " data-parent="#accordion">
                        <div class="card-body">
                            Lorem ipsum
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link text-dark small" data-toggle="collapse" href="#collapseFour">
            Collapsible Group Item #4 <i class="fas fa-angle-down rotate-icon"></i>
          </a>
                    </div>
                    <div id="collapseFour" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            Lorem ipsum..
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link text-dark small" data-toggle="collapse" href="#collapseFive">
        Collapsible Group Item #5 <i class="fas fa-angle-down rotate-icon"></i>
      </a>
                </div>
                <div id="collapseFive" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Lorem ipsum..
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br>
  <div>
    <app-landing-footer></app-landing-footer>
  </div>