<div class="row h-60  no-gutters"> 
    <div class=" col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
      <div class="slider-light"></div>
      <div class="slide-img-bg"></div>
      <div class="row d-flex flex-column no-gutters">
        <span class="logo"></span>
       
        <h3 class="txt">Who you are?</h3 >
        <h5 class="txt2">Find What You Need And Engage With Confidence</h5><br>
        <h5 class="txt3">I am a...</h5>
      
    </div>
    

    <div class="row pt-2 justify-content-center no-gutters">
      
      <div class="card-deck">
        <div class="card col-centered col-auto mb-5 cd1">            
          <a class="card-block stretched-link text-decoration-none"  id="sample"
          (click)="Active($event,0)" href="javascript:void(0)">
          <div class="card-body">
            <img class="founder responsive pt-5 ">
            <p class="card-text pt-3 one txt4">Founder</p>
          </div></a>
          <ng-template #popContent>some content<br><button class="btn1">I got it</button> </ng-template>
            <ng-template #popTitle><b>Who is Founder?</b></ng-template>
            <button type="button" class="btn btt oneb m" 
            [ngbPopover]="popContent" [popoverTitle]="popTitle" placement="right">
              Learn More
            </button>
        </div>
       
        <div class="card col-centered col-auto mb-5 cd2">
          <a class="card-block stretched-link text-decoration-none" 
          (click)="Active($event,1)" href="javascript:void(0)">
          <div class="card-body">
            <img class="fixer responsive pt-5 ">
            <p class="card-text pt-2 two">Fixer</p>
          </div></a>
          <ng-template #popContent>Some content<button class="btn1">I got it</button> </ng-template>
          <ng-template #popTitle><b>Who is Founder?</b></ng-template>
          <button  type="button" class="btn btt twob m" 
          [ngbPopover]="popContent" [popoverTitle]="popTitle" placement="right">
            Learn More
          </button>
        </div>

        <div class="card col-centered col-auto mb-5 cd3">
          <a class="card-block stretched-link text-decoration-none"
           (click)="Active($event,2)" href="javascript:void(0)">
          <div class="card-body ">
            <img class="funder responsive pt-5">
            <p class="card-text pt-3 three">Funder</p>
            </div></a>
            <ng-template #popContent>some content<br><button class="btn1">I got it</button> </ng-template>
            <ng-template #popTitle><b>Who is Founder?</b></ng-template>
            <button type="button" class="btn btt threeb m" 
            [ngbPopover]="popContent" [popoverTitle]="popTitle" placement="right">
              Learn More
            </button>
        </div>  

    </div>
 
  <br>
 </div>


  <div class="row d-flex no-gutters  float-right">
    <a href="javascript:void(0)" (click)="genericRole()">
  <p class="btn3" id="sample" (click)="Deactive($event)">Skip for Now</p></a>
  
  
  <button
  
  [disabled]="!enable"  
  type="button" class="btn btn-wide mb-2 mr-5 btn-light text-justify-right float-right">Next</button>
  
  </div>

</div>
 </div>


  
      
























      