span.logo {
  background: url("../../assets/icons/logoblue.svg") no-repeat top left;
  background-size: contain;

  display: inline-block;
  height: 90px;
  width: 90px;
  margin-top: 40px;
  margin-left: 40px;
}

.txt {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: black;
}
.txt2 {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 50;
  text-align: center;
  color: gray;
}
.txt3 {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 100;
  text-align: center;
  color: gray;
}

.two {
  font-size: 15px;
  color: black;
  font-weight: 800;
}
.one {
  font-size: 15px;
  color: black;
  font-weight: 800;
  margin-left: -4px;
}
.three {
  font-size: 15px;
  color: black;
  font-weight: 800;
}

img.founder {
  background: url("../../assets/icons/founder.svg") no-repeat top left;
  background-size: contain;

  display: inline-block;
  height: 45px;
  width: 45px;
  margin-top: 10px;
  margin-bottom: auto;
  margin-left: 10px;
  outline: rgb(243, 243, 232);
}

img.founder1 {
  background: url("../../assets/icons/founder_1.svg") no-repeat top left;
  background-size: contain;

  display: inline-block;
  height: 45px;
  width: 45px;
  margin-top: 10px;
  margin-bottom: auto;
  margin-left: 10px;
  outline: rgb(243, 243, 232);
}

img.funder {
  background: url("../../assets/icons/funder.svg") no-repeat top left;
  background-size: contain;

  display: inline-block;
  height: 45px;
  width: 45px;
  margin-top: 10px;
  margin-bottom: auto;
  margin-left: 10px;
  outline: rgb(243, 243, 232);
}

img.funder1 {
  background: url("../../assets/icons/funder_1.svg") no-repeat top left;
  background-size: contain;

  display: inline-block;
  height: 45px;
  width: 45px;
  margin-top: 10px;
  margin-bottom: auto;
  margin-left: 10px;
  outline: rgb(243, 243, 232);
}

img.fixer {
  background: url("../../assets/icons/fixer.svg") no-repeat top left;
  background-size: contain;

  display: inline-block;
  height: 45px;
  width: 45px;
  margin-top: 17px;
  margin-bottom: auto;
  margin-left: 10px;
  outline: rgb(243, 243, 232);
}
img.fixer1 {
  background: url("../../assets/icons/fixer_1.svg") no-repeat top left;
  background-size: contain;

  display: inline-block;
  height: 45px;
  width: 45px;
  margin-top: 17px;
  margin-bottom: auto;
  margin-left: 10px;
  outline: rgb(243, 243, 232);
}
.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  outline-width: 0.5px;
  border-radius: 5px;
  background: rgb(236, 234, 234);
  border: 0.5px solid rgb(170, 169, 169);
}
.col-centered1 {
  display: inline-block;
  float: none;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  outline-width: 0.5px;
  border-radius: 5px;
  background: #007bff;
  border: 0.5px solid rgb(170, 169, 169);
  color: black;
}

.btntrans {
  font-size: 11px;
  color: white;
}
.btt {
  font-size: 11px;
  color: black;
}

.btn1 {
  font-size: x-small;
  border-style: solid;
  border-width: 0.2px;
  border-color: rgba(73, 71, 71, 0.63);
}
.btn3 {
  margin-left: -100px;
}

.m {
  margin-top: -50px;
}

.btn-wide {
  color: white;
  background-color: green;
}

.transition {
  color: white;
}
