<div class="row no-gutters">
	<div class="col-lg-6 col-sm-12 col-md-6 col-xl-6 col-xs-12">
		<div class="position-relative h-100 bg-night-sky">
			<div class="slide-img-bg"></div>
			<div class="slider-content text-light">
				<span class="inventlogo pointer-ref"  (click)="routerNavigation('landing')"></span>
				<div class="d-flex justify-content align-items flex-column spc">
					<h5 style="font-weight: 500 !important;">
						More than 60K Founders are
					</h5>
					<h5 style="font-weight: 500 !important;">
						Looking on Invent Fund
					</h5>
					<h5 style="font-weight: 500 !important;">every week</h5>
					<span
						>Explore more
						<i class="fa fa-arrow-right a" aria-hidden="true"></i>
					</span>
				</div>
			</div>
			<br />
			<br />
			<div class="row no-gutters">
				<div
					class="col-lg-12 col-sm-12 col-md-12 col-xl-12 col-xs-10 d-flex justify-content-center align-items-center flex-column"
				>
					<div class="slide-img-bg"></div>
					<span class="register img-fluid"></span>
				</div>
			</div>
			<!-- <span class="dots "></span> -->
		</div>
	</div>
	<div
		class="d-flex flex-column bg-white justify-content-center align-items-center center-align col-lg-6 col-sm-12 col-md-6 col-xl-6 col-xs-12"
	>
		<h2 class="centre-text-bold">Details</h2>
		<br /><br /><br />
		<div>
			<form
				[formGroup]="signUpDetailsForm"
				(validSubmit)="submit($event, signUpDetailsForm.value)"
			>
				<div class="row no-gutters">
					<div class="col-md-10 col-lg-10 col-sm-6 col-xl-10">
						<fieldset class="form-group custom-error-invalid">
							<div tabindex="-1" role="group">
								<input
									id="examplePassword"
									name="password"
									type="password"
									placeholder="Password"
									class="form-control password-noImage"
									formControlName="password"
								/>
							</div>
						</fieldset>
					</div>
				</div>
				<div class="row no-gutters">
					<div class="col-md-10 col-lg-10 col-sm-6 col-xl-10">
						<fieldset class="form-group">
							<div tabindex="-1" role="group">
								<input
									id="retypePassword"
									name="retypePassword"
									type="password"
									placeholder="Re-Type Password"
									class="form-control password-noImage"
									(change)="
										checkPasswords($event.target.value)
									"
									formControlName="retypePassword"
								/>
							</div>
						</fieldset>
					</div>
				</div>
				<div class="row no-gutters">
					<div class="col-md-10 col-lg-10 col-sm-6 col-xl-10">
						<fieldset class="form-group">
							<div tabindex="-1" role="group">
								<input
									type="number"
									id="phoneNumber"
									name="phoneNumber"
									placeholder="Phone Number"
									formControlName="phoneNumber"
									class="form-control password-noImage" required
								/>
							</div>
						</fieldset>
					</div>
				</div>
				<br />
				<div class="center-align">
					<button
						style="font-size: 14px; font-family: Montserrat;"
						type="submit"
						class="btn btn-wide mb-2 mr-2 btn-success btn-size"
					>
						Next
						<span
							><i
								class="fa fa-arrow-right"
								aria-hidden="true"
							></i>
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
