span.inventlogo {
	background: url('../../../assets/icons/inventlogo.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 64px;
	width: 85px;
	margin-top: 42px;
	margin-left: 30px;
}

span.register {
	background: url('../../../assets/icons/register.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 230px;
	width: 230px;
}

span.dots {
	background: url('../../../assets/icons/dots.svg') no-repeat bottom center;
	background-size: contain;
	display: inline-block;
	height: 180px;
	width: 180px;
	margin-top: -130px;
	margin-left: 560px;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

i.fa.fa-arrow-right.a {
	cursor: default;
}

.spc {
	padding-left: 80px;
	margin-top: 65px;
	cursor: default;
}

::placeholder {
	color: blue;
	opacity: 0.5;
}

:-ms-input-placeholder {
	color: blue;
}

::-ms-input-placeholder {
	color: blue;
}

input.form-control {
	border-color: rgb(125, 125, 236);
	width: 300px;
}

.btn-size {
	width: 140px;
}

.fa.fa-arrow-right {
	width: 40px;
	font-size: 15px;
}

@media only screen and (max-width: 1024px) {
	span.dots {
		background: url('../../../assets/icons/dots.svg') no-repeat bottom
			center;
		background-size: contain;
		display: inline-block;
		height: 180px;
		width: 180px;
		margin-top: -47px;
		margin-left: 430px;
		overflow: hidden;
		position: relative;
		z-index: 1;
	}
	.spc {
		// padding-left: 45px;
		margin-top: 92px;
	}
}

@media only screen and (max-width: 768px) {
	span.dots {
		background: url('../../../assets/icons/dots.svg') no-repeat bottom
			center;
		background-size: contain;
		display: inline-block;
		height: 180px;
		width: 180px;
		margin-top: -147px;
		margin-top: -147px;
		margin-left: 300px;
		overflow: hidden;
		position: relative;
		z-index: 1;
	}
	.spc {
		padding-left: 65px;
		margin-top: 55px;
	}
}

@media only screen and (max-width: 425px) {
	span.dots {
		background: url('../../../assets/icons/dots.svg') no-repeat bottom
			center;
		display: none;
		height: 0px;
	}
	span.register {
		background: url('../../../assets/icons/register.svg') no-repeat top left;
		background-size: contain;
		display: inline-block;
		height: 180px;
		width: 180px;
	}
	.spc {
		padding-left: 65px;
		margin-top: 55px;
	}
}

@media only screen and (max-width: 320px) {
	span.register {
		background: url('../../../assets/icons/register.svg') no-repeat top left;
		background-size: contain;
		display: inline-block;
		height: 180px;
		width: 130px;
	}
}

::ng-deep .password-noImage.is-valid {
	border-color: #ced4da !important;
	padding-right: 2.25rem !important;
	background-repeat: no-repeat !important;
	background-position: center right calc(2.25rem / 4) !important;
	background-size: calc(2.25rem / 2) calc(2.25rem / 2) !important;
	background-image: url();
}

::ng-deep .password-noImage.is-invalid {
	border-color: #d92550 !important;
	padding-right: 2.25rem !important;
	background-repeat: no-repeat !important;
	background-position: center right calc(2.25rem / 4) !important;
	background-size: calc(2.25rem / 2) calc(2.25rem / 2) !important;
	background-image: url() !important;
}

.error-class {
	width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #d92550;
}

::ng-deep .custom-error-invalid {
	.invalid-feedback {
		white-space: pre !important;
	}
}
