.btn-right {
	float: right;
	margin: 10px;
}

#search_places {
	display: block;
	width: 100%;
	height: calc(2.25rem + 2px);
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.profile {
	color: white;
	width: 65px;
	height: 60px;
	padding-left: 10px;
}

span.profileSummary {
	background-size: contain;
	display: inline-block;
	height: 54px;
	width: 56px;
	z-index: 0;
	background-color: #4199ff;
	border-top-left-radius: 4px;
}

span.profileSum {
	background: url('../../../assets/icons/profileSum.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 40px;
	width: 47px;
	z-index: 1;
	margin-left: 8px;
	margin-top: 5px;
}

span.professional {
	background: url('../../../assets/icons/professional.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 50px;
	width: 50px;
	z-index: 0;
}

span.experience {
	background: url('../../../assets/icons/experience.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 35px;
	width: 37px;
	z-index: 1;
	margin-left: 8px;
	margin-top: 5px;
}

::ng-deep .search-icon {
	display: none !important;
}

::ng-deep input[type='search'] {
	display: block !important;
	width: 100% !important;
	// height: calc(2.25rem + 2px) !important;
	height: calc(2.35rem + 2px) !important;
	padding: 0.375rem 0.75rem !important;
	font-size: 1rem !important;
	font-weight: 400 !important;
	line-height: 1.5 !important;
	color: #495057 !important;
	background-color: #fff !important;
	background-clip: padding-box !important;
	border: 1px solid #ced4da !important;
	border-radius: 0.25rem !important;
}

.p-10 {
	padding: 10px;
}

.m-t-10 {
	margin-top: 10px;
}

span.skills {
	background: url('../../../assets/icons/experience.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 35px;
	width: 37px;
	z-index: 1;
	margin-left: 8px;
	margin-top: 5px;
}

.m-h {
	padding-left: 10px;
	padding-bottom: 12px;
	position: relative;
	bottom: 6px;
	font-size: 16px;
	font-family: 'Montserrat';
	font-weight: 550;
	color: #3b3b3b;
}

.p-l-16 {
	padding-left: 16px;
}

.p-l-r-10 {
	padding-left: 10px;
	padding-right: 10px;
}
::ng-deep .modal-dialog {
	box-shadow: none !important;
}

.m-b-4 {
	margin-bottom: 4px !important;
}

@media only screen and (max-width: 769px) {
	.m-b-4-m {
		margin-top: 4px !important;
	}
}

span.summary {
	background: url('../../../assets/icons/profileSum.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 35px;
	width: 37px;
	z-index: 1;
	margin-left: 12px;
    margin-top: 8px;
}

span.education {
	background: url('../../../assets/icons/page-1.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 35px;
	width: 37px;
	z-index: 1;
	margin-left: 8px;
	margin-top: 5px;
}

span.professional {
	background: url('../../../assets/icons/experience.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 35px;
	width: 37px;
	z-index: 1;
	margin-left: 8px;
	margin-top: 5px;
}

span.achievements {
	background: url('../../../assets/icons/achievement.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 35px;
	width: 37px;
	z-index: 1;
	margin-left: 8px;
	margin-top: 5px;
}

span.skills {
	background: url('../../../assets/icons/skills.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 35px;
	width: 37px;
	z-index: 1;
	margin-left: 8px;
	margin-top: 5px;
}

span.showcase {
	background: url('../../../assets/icons/showcase-1.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 35px;
	width: 37px;
	z-index: 1;
	margin-left: 10px;
	margin-top: 6px;
}

.mandatory_star {
	color: red;
}

.my-drop-zone {
	border: dotted 3px lightgray;
	height: 80px;
}
.nv-file-over {
	border: dotted 3px red;
}

.dropzone {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-weight: 100;
	height: 200px;
	border: 0.1em dashed #6cb0fd;
	border-radius: 5px;
	background: #fafafa;
}

.upload-img {
	margin: 20px auto;
	position: relative;
	width: 90%;
}

.dropzone.hovering {
	border: 2px solid #f16624;
	color: #dadada !important;
}

.dropzone .file-label {
	font-size: 1.2em;
	color: #4199ff;
	font-weight: 400;
}

progress::-webkit-progress-value {
	transition: width 0.1s ease;
}

.file-input {
	display: none;
}

.my-drop-zone {
	border: 0.1em dashed #6cb0fd;
}

.nv-file-over {
	border: 0.1em dashed grey;
}

.image-p-m-b {
	width: 50%;
	margin-bottom: 10px;
}

.width-90 {
	width: 90%;
}

.width-95 {
	width: 95%;
}

.p-0 {
	padding: 0;
}

.pointer {
	cursor: pointer;
}

.float-right {
	float: right !important;
}

.width-50 {
	width: 50%;
}

.width-30 {
	width: 30%;
}

.m-b-10 {
	margin-bottom: 10px;
}

.width-30px {
	width: 30px;
}
