<div class="model-window">
	<div class="header-common">
		<div class="modal-header" style="padding: 0px 0px;">
			<h5 class="modal-title" id="modal-basic-title" style="font-family: 'Montserrat', sans-serif;">
				<span class="profileSummary">
					<span [ngClass]="setImage"></span>
				</span>
				<span class="m-h">{{ heading }}</span>
			</h5>
		</div>
	</div>
	<div class="ct-form-builder">
		<div *ngIf="profDetIndividual" class="col-xl-12 margin-h-center p-0">
			<app-ct-form-builder [formFieldsJson]="profDetailsIndJson" [modelData]="profDetailsIndModelData"
				(saveDataEmitter)="
					createData($event, 'professionalDetailsIndividual')
				" (updateDataEmitter)="
					updateData($event, 'professionalDetailsIndividual')
				" (cancelDataEmitter)="cancelData($event)">
			</app-ct-form-builder>
		</div>
	</div>
	<div class="reactive-forms">
		<div class="summary" *ngIf="profileSummaryFlag">
			<form class="form p-10" name="form" [formGroup]="form">
				<div>
					<!-- <h6 style=" font-family: 'Montserrat', sans-serif;padding-left: 40px;">Summary</h6><br> -->
					<div class="row margin-h-center">
						<div class="col-xl-12">
							<label class="p-l-16">Summary</label>
							<fieldset class="form-group ml-3 mr-2">
								<textarea rows="5" formControlName="profileSummary" name="profileSummary"
									type="textarea"
									placeholder="Write a paragraph about experience summary,specialities,key highlights,etc.(Not more than 1000 words)"
									class="form-control">
								</textarea>
							</fieldset>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="education" *ngIf="educationFlag">
			<div class="form p-10">
				<form name="form" [formGroup]="form">
					<div class="row margin-h-center m-b-4">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<label>Country<span class="mandatory_star">&nbsp;*</span></label>
							<fieldset class="form-group">
								<div tabindex="-1" role="group">
							<select (change)="countryChange($event.target.value)" class="mb-2 form-control"
								formControlName="country">
								<option *ngFor="let option of country" [value]="option.value">{{ option.label }}
								</option>
							</select>
						</div>
					</fieldset>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<h6>
								Search for Colleges/Universities<span class="mandatory_star">&nbsp;*</span>
							</h6>
							<ng4geo-autocomplete [userSettings]="locationConfig" (componentCallback)="
									autoCompleteCallback1($event)
								">
							</ng4geo-autocomplete>
						</div>
					</div>
					<div class="row margin-h-center m-b-4">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<label>College</label>
							<fieldset class="form-group">
								<div tabindex="-1" role="group">
							<input formControlName="college" disabled name="college" type="text" class="form-control" />
						</div>
					</fieldset>
						</div>
					</div>
					<div class="row margin-h-center m-b-4">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<label>Education<span class="mandatory_star">&nbsp;*</span></label>
							<fieldset class="form-group">
								<div tabindex="-1" role="group">
							<input formControlName="education" type="text" class="form-control" />
						</div>
					</fieldset>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<label>Specialization<span class="mandatory_star">&nbsp;*</span></label>
							<fieldset class="form-group">
								<div tabindex="-1" role="group">
							<input formControlName="specialization" type="text" class="form-control" />
						</div>
					</fieldset>
						</div>
					</div>
					<div class="row margin-h-center m-b-4">
						<!-- <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <label>From Date<span class="mandatory_star">&nbsp;*</span></label>
                  <input formControlName="from" type="date" placeholder="Enter From Date" class="form-control"></div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <label>To Date</label>
                  <input formControlName="to" type="date" placeholder="Enter To Date" class="form-control">
                </div>
              </div>
            </div> -->

						<div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
									<label>From Date<span class="mandatory_star">&nbsp;*</span></label>
									<fieldset class="form-group">
										<div tabindex="-1" role="group">
											<input formControlName="from" type="date" placeholder="Enter From Date"
												class="form-control" (change)="toDateValidation('from')" />
											</div>
										</fieldset>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
									<label>To Date</label>
									<fieldset class="form-group">
										<div tabindex="-1" role="group">
									<input formControlName="to" type="date" placeholder="Enter To Date"
										class="form-control" (change)="toDateValidation('to')"/>
									</div>
								</fieldset>
								</div>
							</div>
						</div>
						<div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 m-b-4-m">
							<div class="row">
								<div class="col-lg-6 col-md-4 col-sm-12 col-xs-12">
									<label>CGPA(Max)<span class="mandatory_star">&nbsp;*</span></label>
									<fieldset class="form-group">
										<div tabindex="-1" role="group">
									<input formControlName="cgpaMax" type="number" class="form-control" />
								</div>
							</fieldset>
								</div>
								<div class="col-lg-6 col-md-4 col-sm-12 col-xs-12">
									<label>CGPA(Scored)<span class="mandatory_star">&nbsp;*</span></label>
									<fieldset class="form-group">
										<div tabindex="-1" role="group">
									<input formControlName="cgpaScored" type="number" class="form-control" />
								</div>
							</fieldset>
								</div>
								<!-- <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label>Grade<span class="mandatory_star">&nbsp;*</span></label>
                  <input formControlName="grade" type="text" class="form-control">
                </div> -->
							</div>
						</div>
					</div>
					<div class="row margin-h-center m-b-4">
						<div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
									<label>Grade<span class="mandatory_star">&nbsp;*</span></label>
									<fieldset class="form-group">
										<div tabindex="-1" role="group">
									<input formControlName="grade" type="text" class="form-control" />
								</div>
							</fieldset>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
									<label>Percentile<span class="mandatory_star">&nbsp;*</span></label>
									<fieldset class="form-group">
										<div tabindex="-1" role="group">
									<input formControlName="percentile" type="number" class="form-control" />
								</div>
							</fieldset>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
									<label>Percentage<span class="mandatory_star">&nbsp;*</span></label>
									<fieldset class="form-group">
										<div tabindex="-1" role="group">
									<input formControlName="percentage" type="number" class="form-control" />
								</div>
							</fieldset>
								</div>
							</div>
						</div>
						<!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div> -->
					</div>
					<div class="row margin-h-center">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<label>Key Highlights<span class="mandatory_star">&nbsp;*</span></label>
							<fieldset class="form-group">
								<div tabindex="-1" role="group">
							<textarea rows="2" formControlName="keyHighlights" name="percentage" type="textarea"
								placeholder="" class="form-control">
							</textarea>
							
						</div>
					</fieldset>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="skills" *ngIf="skillsFlag">
			<div class="form p-10">
				<form name="form" [formGroup]="form">
					<div class="row margin-h-center">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<label>Skillset Category<span class="mandatory_star">&nbsp;*</span></label>
							<fieldset class="form-group">
								<div tabindex="-1" role="group">
							<ng-multiselect-dropdown name="city" [placeholder]="'Skillset Category'" [data]="skillsCat"
								formControlName="skillCategory" [disabled]="disabled" [settings]="dropdownSettings">
							</ng-multiselect-dropdown>
							
						</div>
					</fieldset>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<label>Skillset<span class="mandatory_star">&nbsp;*</span></label>
							<fieldset class="form-group">
								<div tabindex="-1" role="group">
							<ng-multiselect-dropdown name="city" [placeholder]="'skillset'" [data]="skillsSet"
								formControlName="skillSet" [disabled]="disabled" [settings]="dropdownSettings">
							</ng-multiselect-dropdown>
						</div>
					</fieldset>
						</div>
					</div>
					<div class="row margin-h-center m-t-10">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<label>Self-Assessment(out of 10)<span class="mandatory_star">&nbsp;*</span></label>
							<fieldset class="form-group">
								<div tabindex="-1" role="group">
							<select class="mb-2 form-control" formControlName="selfAssessmentScore">
								<option *ngFor="let option of selfAssessmentArray" [value]="option.value">
									{{ option.label }}
								</option>
							</select>
								</div>
							</fieldset>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<label>Ratings from Endorser(out of 10)</label>
							<fieldset class="form-group">
								<input formControlName="rating" type="text" class="form-control" disabled />
							</fieldset>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div *ngIf="showcaseFlag">
			<div class="upload-docs">
				<div class="upload-img">
					<div class="dropzone" ng2FileDrop [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver }"
						(fileOver)="fileOverBase($event)" [uploader]="uUploader" (onFileDrop)="onFileSelected($event)"
						[disabled]="disableUpload">
						<span>
							<img class="image-p-m-b" src="../../assets/icons/storage.svg" />
						</span>
						<div class="">
							Drag and drop or
							<label class="">
								<input class="file-input" type="file" ng2FileSelect [uploader]="uUploader"
									(onFileSelected)="onFileSelected($event)" [disabled]="disableUpload" />
								<span class="file-label">
									browse
								</span>
							</label>
							your file
						</div>
					</div>
				</div>
				<div class="description">
					<form class="form" name="form" [formGroup]="form">
						<div class="row margin-h-center width-95">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-h-center p-0">
								<label class="p-l-16">Description</label>
								<fieldset class="form-group ml-3 mr-2">
									<textarea rows="2" formControlName="description" name="description" type="textarea"
										placeholder="Please enter a short description" class="form-control">
									</textarea>
								</fieldset>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="uploded-image">
				<div class="row margin-h-center width-95 p-0 m-b-10"
					*ngFor="let item of uUploader.queue; let i = index">
					<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
						<span>
							<!-- <img src="../../assets/icons/storage.svg" class="width-30px"> -->
							<i class="{{ getFileExtension(item?.file?.type) }}" style="color: #4199ff;"></i>
						</span>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<span>{{ item?.file?.name }}</span>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<span>{{
								((item?.file?.size / 1024 / 1024
									| number: '.2') *
									item.progress) /
									100
							}}
							/
							{{
								item?.file?.size / 1024 / 1024 | number: '.2'
							}}</span>
					</div>
					<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
						<span *ngIf="item.isSuccess">
							<a tooltip="Remove from queue" (click)="removeFromQue(item, i)" class="float-right">
								<img src="../../assets/icons/red-fail.svg" class="pointer width-50" align="right" />
								<!-- <mat-icon class="color-grey pointer" color="red" >clear</mat-icon> -->
							</a>
						</span>
					</div>
					<div class="progress-bar progress-bar-success" [ngStyle]="{
							width: item.progress + '%',
							height: '2px',
							margin: 'auto 10px',
							'margin-top': '4px'
						}" tooltip="{{ item.progress }}% uploaded" placement="bottom"></div>
				</div>
			</div>
		</div>
		<div class="reactive-forms-buttons" *ngIf="!profDetIndividual">
			<div class="modal-footer align-items-center justify-content-center">
				<button (click)="cancel()" type="submit" class="btn btn-outline-secondary btn-group-lg"
					style="height: 40px; width: 120px;">
					<span class="font-size-md"> CANCEL</span>
				</button>
				<!-- {{form.valid}} -->
				<button (click)="save(form.value)" type="submit" style="height: 40px; width: 120px;"
					class="btn btn-primary btn-group-lg" [disabled]="!form.valid">
					<span class="font-size-lg"> SAVE</span>
				</button>
			</div>
		</div>
	</div>
</div>