<div
  [class]="'app-sidebar sidebar-shadow ' + (config$ | async).sidebarTheme"
  (mouseover)="sidebarHover()"
  (mouseout)="sidebarHover()"
>
  <div class="app-header__logo">
    <!-- Logo here... -->
    <!-- <div class="logo-src"></div> -->
    <!-- <img style="width: 100px;" src="../../../assets/images/crecientechInfosystem.png" alt="logo"> -->
    <div class="header__pane ml-auto">
      <button
        type="button"
        class="hamburger close-sidebar-btn hamburger--elastic"
        [ngClass]="{ 'is-active': globals.toggleSidebar }"
        (click)="toggleSidebar()"
      >
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="app-sidebar-content">
    <div class="app-sidebar-scroll">
      <perfect-scrollbar class="side-scroll">
        <div class="v-sidebar-menu vsm-default">
          <div class="vsm-list">
            <!-- LEVEL 1 -->
            <ngb-accordion [closeOthers]="true" activeIds="static-0">
              <ngb-panel>
                <ng-template ngbPanelHeader>
                  <div class="vsm-header">&nbsp;&nbsp;</div>
                  <!-- <button style="margin-top: 25px;" type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                    [ngClass]="{'is-active' : globals.toggleSidebarMobile}" (click)="toggleSidebarMobile()">
                    <span class="hamburger-box">
                      <span class="hamburger-inner"></span>
                    </span>
                  </button> -->
                </ng-template>
              </ngb-panel>
              <ngb-panel *ngFor="let item of menuItems">
                <ng-template *ngIf="item.submenu" ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <!-- <i class="vsm-icon pe-7s-home"></i> -->
                    <i [ngClass]="item.icon" (click)="toggleItems(item)"></i>
                    <span *ngIf="item.submenu" class="vsm-title">{{ item.text }}</span>
                    <i *ngIf="item.submenu" class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template *ngIf="!item.submenu" ngbPanelHeader>
                  <button
                    routerLink="{{ item.link }}"
                    routerLinkActive="active-item"
                    ngbPanelToggle
                    class="vsm-link"
                    (click)="toggleItems(item)"
                  >
                    <i [ngClass]="item.icon"></i>
                    <a class="vsm-title" *ngIf="!item.submenu" routerLink="{{ item.link }}">
                      <span class="vsm-title">{{ item.text }} </span>
                    </a>
                  </button>
                </ng-template>
                <ng-template *ngIf="item.submenu" ngbPanelContent>
                  <div *ngFor="let item1 of item.submenu" class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a
                          *ngIf="!item1.submenu"
                          routerLink="{{ item1.link }}"
                          routerLinkActive="active-item"
                          class="vsm-link"
                        >
                          <span class="vsm-title">{{ item1.text }}</span>
                        </a>
                        <!-- LEVEL 2  -->
                        <div *ngIf="item1.submenu">
                          <ngb-accordion *ngIf="item1.submenu" [closeOthers]="true">
                            <ngb-panel>
                              <ng-template ngbPanelHeader>
                                <button ngbPanelToggle class="vsm-link">
                                  <span class="vsm-title">{{ item1.text }}</span>
                                  <i class="vsm-arrow"></i>
                                </button>
                              </ng-template>
                              <ng-template ngbPanelContent>
                                <div *ngFor="let item2 of item1.submenu" class="vsm-dropdown">
                                  <div class="vsm-list">
                                    <div class="vsm-item">
                                      <a
                                        *ngIf="!item2.submenu"
                                        routerLink="{{ item2.link }}"
                                        routerLinkActive="active-item"
                                        class="vsm-link"
                                      >
                                        <span class="vsm-title">{{ item2.text }}</span>
                                      </a>

                                      <!-- LEVEL 3 -->
                                      <div *ngIf="item2.submenu">
                                        <ngb-accordion *ngIf="item1.submenu" [closeOthers]="true">
                                          <ngb-panel>
                                            <ng-template ngbPanelHeader>
                                              <button ngbPanelToggle class="vsm-link">
                                                <span class="vsm-title">{{ item2.text }}</span>
                                                <i class="vsm-arrow"></i>
                                              </button>
                                            </ng-template>
                                            <ng-template ngbPanelContent>
                                              <div
                                                *ngFor="let item3 of item2.submenu"
                                                class="vsm-dropdown"
                                              >
                                                <div class="vsm-list">
                                                  <div class="vsm-item">
                                                    <a
                                                      routerLink="{{ item3.link }}"
                                                      routerLinkActive="active-item"
                                                      class="vsm-link"
                                                    >
                                                      <span class="vsm-title">{{
                                                        item3.text
                                                      }}</span>
                                                    </a>
                                                  </div>
                                                </div>
                                              </div>
                                            </ng-template>
                                          </ngb-panel>
                                        </ngb-accordion>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </ng-template>
                            </ngb-panel>
                          </ngb-accordion>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </div>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
</div>
