.newCustomerButton {
	float: right;
	margin: 5px;
	z-index: 1;
	height: 40px;
	width: 120px;
}

::ng-deep .overflow {
	height: 480px !important;
	overflow: scroll !important;
}

.btnsize {
	width: 100px;
	height: 30px;
}

.p-15 {
	padding: 15px;
}

.p-l-r-15 {
	padding-left: 30px !important;
	padding-right: 30px !important;
}
