<form [formGroup]="form" class="p-15 p-l-r-15">
	<formly-form
		[form]="form"
		[fields]="formFieldsJson"
		[model]="model"
		[options]="options"
	>
	</formly-form>
</form>

<div class="justify-content-center" fusePerfectScrollbar>
	<div class="modal-footer align-items-center justify-content-center">
		<button
			(click)="emitFormlyCancel()"
			type="submit"
			class="btn btn-outline-secondary btn-group-lg"
			style="height: 40px; width: 120px;"
		>
			<span class="font-size-md"> CANCEL</span>
		</button>
		<button
			(click)="emitFormlyDataSave()"
			type="submit"
			style="height: 40px; width: 120px;"
			class="btn btn-primary btn-group-lg"
		>
			<span class="font-size-lg"> SAVE</span>
		</button>
	</div>
</div>
