<div class="un-authorized">
	<div class="row align-center">
		<span>Sorry but you are not authorized to view this page</span
		>&nbsp;&nbsp;
		<a [routerLink]="'/profile/dashboard'">Dashboard</a>
	</div>
</div>
