<div class="row block1">
  <div class="col-lg-12">
    <div class="file-upload">
      <label for="upload" [ngClass]="image">
        <!-- {{image}} -->
        <p class="fontClass" *ngIf="image == 'file_upload_label'">DC</p>
        <img
          src="{{ imageDataAssign | async }}"
          class="fontClass_img img_circle"
          *ngIf="image != 'file_upload_label'"
        />
      </label>
      <input
        id="upload"
        class="file-upload__input"
        type="file"
        name="file-upload"
        ng2FileSelect
        [uploader]="uUploader"
        (onFileSelected)="onFileSelected($event)"
      />
    </div>
  </div>
</div>
<div class="row block2">
  <div class="col-lg-8 col-md-6"></div>
</div>
