.file-upload {
	position: relative;
}

.file_upload_label {
	padding: 1em 2em;
	color: #fff;
	background-color: #00a4be !important;
	height: 50px;
	width: 50px;
	border-radius: 0.4em;
	transition: background 0.3s;
	height: 106px;
	width: 106px;
	border-radius: 86px;
	position: absolute;
	top: 33px;
	left: 37px;
	&:hover {
		cursor: pointer;
		font-family: 'Font Awesome 5 Free';
		content: '\f095';
		opacity: 0.4;
		font-weight: 900;
	}
}

.img_circle {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.file_upload_label_img {
	padding: 1em 2em;
	color: #fff;
	transition: background 0.3s;
	height: 106px;
	width: 106px;
	border-radius: 86px;
	position: absolute;
	top: 33px;
	left: 37px;
	&:hover {
		cursor: pointer;
		font-family: 'Font Awesome 5 Free';
		content: '\f095';
		opacity: 0.4;
		font-weight: 900;
	}
}

.file-upload__input {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	font-size: 1;
	width: 0;
	height: 100%;
	opacity: 0;
}

.block1 {
	background-color: #a8f1fc;
	height: 112px;
	border: 1px solid #ccc !important;
	border-radius: 5px 5px 0px 0px;
	&:hover {
		cursor: pointer;
		background-color: #517e98 !important;
	}
}

.block2 {
	background-color: white;
	height: 95px;
	border: 1px solid #ccc !important;
	border-radius: 0px 0px 5px 5px;
}

.fontClass {
	color: #142d4d;
	font-size: 40px;
	position: absolute;
	top: 22px;
	font-weight: 700;
	left: 25px;
}

.fontClass_img {
	color: #142d4d;
	font-size: 40px;
	position: absolute;
	top: 14px;
	font-weight: 700;
	left: 10px;
}
