<div *ngIf="profileData == 'Invent Fund Fixer'">
  <h5 style="font-family: Montserrat; font-weight: 600;">Profile Overview</h5>
  <br />
  <div class="row">
    <div class="col-lg-9">
      <div class="main-card mb-3 card bgcolor mx-auto">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-md-3 col-lg-3 col-xl-3 pr-0 verticalLine">
              <img
                src="{{ profileImg | async }}"
                class="rounded-circle imgsize image-fluid mt-5 mx-auto d-block"
                alt="abc"
              />
              &nbsp;&nbsp;<br />

              <p class="cent"><b>Individual</b></p>
              <br />
              <div class="row no-gutters">
                <div class="col-3">
                  <span
                    style="margin-top: 4px;"
                    class="Calendar float-right"
                  ></span>
                </div>

                <div class="col-9">
                  <p class="mb-5 ml-2 sm-mb">
                    <b> Member Since:</b>
                    {{
                      fixerProfileSchema.fixerPersonDetails?.createdDate
                        | date: 'MM/dd/yyyy'
                    }}
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-9 col-xl-9 col-lg-9">
              <div class="row">
                <div
                  style="padding-left: 6px; padding-top: 6px;"
                  class="col-md-9 col-lg-9 col-xl-9 col-sm-4 mt-3 pl-3 sm-align"
                >
                  &nbsp;
                  <div
                    *ngIf="editmainsection == false"
                    class="d-sm-block d-md-none p-0"
                  >
                    <button
                      class="btn btn-primary btn-right ml-3 mt-4"
                      style="height: 35px; width: 203px; margin-bottom: 20px;"
                    >
                      <span class="linkedin"></span>
                      <span>Sync your LinkedIn Profile</span>
                    </button>

                    <span
                      class="edit float-right mr-3 mt-4"
                      (click)="onclick()"
                    ></span>
                  </div>

                  <h6
                    class="mb-0"
                    style="font-family: montserrat; font-weight: 600;"
                  >
                    {{ fixerProfileSchema.fixerPersonDetails?.name }}
                  </h6>
                  <!-- <small>banglore,India</small> -->
                  <h6
                    class="mt-3"
                    *ngIf="editmainsection == false"
                    style="font-family: montserrat; font-weight: 600;"
                  >
                    Professional Headline
                  </h6>

                  <p
                    class="mt-0"
                    *ngIf="
                      editmainsection == false &&
                      fixerProfileSchema.fixerProfileSummary.headline
                    "
                  >
                    {{ fixerProfileSchema.fixerProfileSummary.headline }}
                  </p>
                  <p
                    class="mt-0"
                    *ngIf="
                      editmainsection == false &&
                      !fixerProfileSchema.fixerProfileSummary.headline
                    "
                  >
                    Enter Headline(Not more than 75 words)
                  </p>
                  <h6
                    class="mt-3"
                    *ngIf="editmainsection == false"
                    style="font-family: 'Montserrat'; font-weight: 600;"
                  >
                    Professional Summary
                  </h6>

                  <p
                    class="mt-0"
                    *ngIf="
                      editmainsection == false &&
                      fixerProfileSchema.fixerProfileSummary.professionalSummary
                    "
                  >
                    {{
                      fixerProfileSchema.fixerProfileSummary.professionalSummary
                    }}
                  </p>
                  <p
                    class="mt-0"
                    *ngIf="
                      editmainsection == false &&
                      !fixerProfileSchema.fixerProfileSummary
                        .professionalSummary
                    "
                  >
                    Enter Summary(Not more than 300 words)
                  </p>
                </div>

                <div class="col-md-3 col-xl-3 col-lg-3 sm-none">
                  <button
                    class="btn btn-primary btn-right mr-3 mt-4"
                    style="float: right; height: 35px; width: 203px;"
                  >
                    <span class="linkedin"></span>
                    <span>Sync your LinkedIn Profile</span>
                  </button>
                  <br /><br />
                  <span class="edit mt-4 ml-5" (click)="onclick()"></span>
                </div>

                <div
                  class="col-md-11 col-lg-11 col-xl-11 p-0"
                  *ngIf="editmainsection == true"
                >
                  <app-ct-form-builder
                    [formFieldsJson]="profileSummaryJson"
                    [modelData]="modelData"
                    (saveDataEmitter)="createProfileSummaryData($event)"
                    (updateDataEmitter)="updateProfileSummaryData($event)"
                    (cancelDataEmitter)="cancelProfileSummary($event)"
                  >
                  </app-ct-form-builder>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <br />
      <!-- Showcase  -->
      <mat-expansion-panel>
        <mat-expansion-panel-header
          expandedHeight="45px"
          collapsedHeight="45px"
          class="pl-0 bgcolor"
        >
          <mat-panel-title class="accordion-heading">
            <span class="showcase"></span>
            <span class="headerFont">
              <span class="m-h">Showcase</span>
            </span>
          </mat-panel-title>
          <mat-panel-description>
            <div class="btn-actions-pane-right">
              <button
                (click)="openModal({ showcase: '', heading: 'Add Showcase' })"
                class="btn-icon btn btn-link"
                style="height: 8px;"
              >
                <span class="more"></span>
              </button>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <br />

        <app-carousel
          *ngIf="show && showcaseArray"
          #carousel
          [showControls]="false"
        >
          <ng-container *ngFor="let slide of showcaseArray">
            <!-- {{showcaseArray | json}} -->
            <div
              *carouselSlide
              class="mx-2 card shadow-none testimonial-carousel"
            >
              <!-- {{slide?.fileType}} -->
              <img
                class="close"
                src="../../../assets/images-ui/delete.svg"
                style="cursor: pointer;"
                (click)="deleteCarosulDoc(slide)"
                *ngIf="slide?.url && slide?.fileType == 'application/pdf'"
              />
              <img
                class="image-center border-light"
                style="height: 140px; width: 120px;"
                *ngIf="slide?.url && slide?.fileType == 'application/pdf'"
                src="../../../assets/images-ui/pdf-image-viewer.png"
                alt="..."
                (click)="emitImageObject(slide)"
              />
              <img
                class="close"
                src="../../../assets/images-ui/delete.svg"
                style="cursor: pointer;"
                (click)="deleteCarosulDoc(slide)"
                *ngIf="slide?.url && slide?.fileType == 'image/jpeg'"
              />

              <img
                class="border-light"
                style="height: 140px; width: 120px;"
                *ngIf="slide?.url && slide?.fileType == 'image/jpeg'"
                [src]="slide?.url"
                alt="..."
              />

              <img
                class="close z-index"
                src="../../../assets/images-ui/delete.svg"
                style="cursor: pointer;"
                (click)="deleteCarosulDoc(slide)"
                *ngIf="slide?.url && slide?.fileType == 'video/mp4'"
              />
              <video
                class="border-light"
                style="height: 134px; width: 120px;"
                controls
                *ngIf="slide?.url && slide?.fileType == 'video/mp4'"
              >
                <source
                  [src]="slide?.url"
                  *ngIf="slide?.url && slide?.fileType == 'video/mp4'"
                  type="video/mp4"
                />
              </video>

              <div class="">
                <p
                  style="
                    text-align: center;
                    font-weight: 500;
                    word-wrap: break-word;
                  "
                  class="card-text des-p-t-w"
                >
                  {{ slide.description }}
                </p>
              </div>
            </div>
          </ng-container>

          <div class="prev-button" (click)="carousel.prev()">
            <a class="carousel-control-prev-icon"></a>
          </div>
          <div class="next-button" (click)="carousel.next()">
            <a class="carousel-control-next-icon"></a>
          </div>
        </app-carousel>
      </mat-expansion-panel>
      <br /><br />

      <!-- Profile Summary Section  -->

      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header
          expandedHeight="45px"
          collapsedHeight="45px"
          class="pl-0 bgcolor"
        >
          <mat-panel-title class="accordion-heading pb-0">
            <span class="profileSummary">
              <span class="profileSum"></span>
            </span>
            <span class="headerFont">
              <span class="m-h">Profile Summary</span>
            </span>
          </mat-panel-title>
          <mat-panel-description>
            <div class="btn-actions-pane-right">
              <button
                (click)="
                  openModal({
                    profileSummary: modelData?.profileSummary,
                    heading: 'Edit Profile Summary'
                  })
                "
                class="btn-icon btn btn-link"
                style="height: 15px;"
              >
                <span class="edit"></span>
              </button>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <br />
        <p *ngIf="!fixerProfileSchema.fixerProfileSummary.profileSummary">
          Free text write a paragragh About, experience summary, Specialities,
          Key highlights etc.
          <br />
          (Not more than 1000 words)
        </p>
        <p *ngIf="fixerProfileSchema.fixerProfileSummary.profileSummary">
          {{ fixerProfileSchema.fixerProfileSummary.profileSummary }}
        </p>
      </mat-expansion-panel>
      <br /><br />

      <!--------------------------------------->
      <!-- Education Details Summary Section  -->

      <mat-expansion-panel>
        <mat-expansion-panel-header
          expandedHeight="45px"
          collapsedHeight="45px"
          class="pl-0 bgcolor"
        >
          <mat-panel-title class="accordion-heading pb-0">
            <span class="education">
              <span class="education1"></span>
            </span>
            <span class="headerFont">
              <span class="m-h">Education Details</span>
            </span>
          </mat-panel-title>
          <mat-panel-description>
            <div class="btn-actions-pane-right" style="margin-top: 8px;">
              <button
                (click)="
                  openModal({
                    educationalDetails: '',
                    heading: 'Add Educational Details'
                  })
                "
                class="mb-2 mr-2 btn-icon btn btn-link"
              >
                <span class="more mt-1"></span>
              </button>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div
          style="margin-top: 12px;"
          *ngFor="let item of fixerProfileSchema.fixerEducationalDetails"
          class="mb-3"
        >
          <div *ngIf="item.personId">
            <button
              style="float: right;"
              (click)="
                openModal({
                  updateData: item,
                  educationalDetails: '',
                  heading: 'Edit Education Details'
                })
              "
              class="mb-2 mr-2 btn-icon btn btn-link"
            >
              <span class="edit"></span>
            </button>
            <button
              style="float: right;"
              (click)="deleteEducationData(item._id)"
              class="mb-2 mr-2 btn-icon btn btn-link"
            >
              <span class="trash"></span>
            </button>

            <div class="row">
              <div class="col-10">
                <p *ngIf="item?.college" class="font-weight-bold mb-1 margin">
                  {{ item?.college }}
                </p>
                <p
                  *ngIf="item?.education && item.specialization"
                  class="mb-1 margin"
                >
                  {{ item.education }},&nbsp;{{ item.specialization }}
                </p>
                <span *ngIf="item.grade" class="mb-1 margin"
                  >Grade:
                  <b>{{ item.grade }}</b>
                </span>
                &nbsp;&nbsp;&nbsp;
                <span *ngIf="item.cgpaScored" class="mb-1 margin"
                  >&nbsp;&nbsp;&nbsp;CGPA:
                  <b>{{ item.cgpaScored }}/{{ item.cgpaMax }}</b>
                </span>
                &nbsp;&nbsp;&nbsp;
                <span *ngIf="item.percentile" class="mb-1 margin"
                  >&nbsp;&nbsp;&nbsp;Percentile:
                  <b>{{ item.percentile }}%</b>
                </span>
                &nbsp;&nbsp;&nbsp;
                <span *ngIf="item.percentage" class="mb-1 margin"
                  >&nbsp;&nbsp;&nbsp;Percentage:
                  <b>{{ item.percentile }}%</b>
                </span>
                <p *ngIf="item.from" class="mb-1 margin">
                  {{ item.from | date: 'MMM yyyy' }}-{{
                    item.to | date: 'MMM yyyy'
                  }}
                </p>
                <p *ngIf="item.keyHighlights" class="margin">
                  Key Highlights : <b>{{ item.keyHighlights }}</b>
                </p>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
      <br /><br />
      <!--------------------------------------->

      <!-- Professional Summary Details Summary Section  -->

      <mat-expansion-panel>
        <mat-expansion-panel-header
          expandedHeight="45px"
          collapsedHeight="45px"
          class="pl-0 bgcolor"
        >
          <mat-panel-title class="accordion-heading">
            <span class="professional"><span class="experience"></span></span>

            <span class="headerFont">
              <span class="m-h">Professional Experience Details</span>
            </span>
          </mat-panel-title>
          <mat-panel-description>
            <div class="btn-actions-pane-right">
              <button
                (click)="
                  openModal({
                    professionalDetailsIndividual: '',
                    heading: 'Add Professional Details'
                  })
                "
                class="btn-icon btn btn-link"
                style="height: 8px;"
              >
                <span class="more"></span>
              </button>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div
          style="margin-top: 4px;"
          *ngFor="let item of fixerProfileSchema.fixerProfessionalDetails"
          class="mb-3"
        >
          <div *ngIf="item.personId" class="card-body">
            <button
              style="float: right;"
              (click)="
                openModal({
                  model: item._id,
                  professionalDetailsIndividual: '',
                  heading: 'Add Professional Details'
                })
              "
              class="mb-2 mr-2 btn-icon btn btn-link"
            >
              <span class="edit"></span>
            </button>
            <button
              style="float: right;"
              (click)="deleteProfessionData(item._id)"
              class="mb-2 mr-2 btn-icon btn btn-link"
            >
              <span class="trash"></span>
            </button>
            <div class="row">
              <div class="col-6">
                <p class="font-weight-bold mb-0">{{ item.designation }}</p>
                <p class="mb-0">
                  {{ item.company }} - {{ item.employmentType }}
                </p>
                <p class="mb-0">
                  {{ item.location }},{{ item.from | date: 'MMM-yyyy' }} to
                  {{ item.to | date: 'MMM-yyyy' }}
                </p>
              </div>
              <div class="col-4 mb-0">
                <p *ngIf="item.experienceSummary">
                  Summary - {{ item.experienceSummary }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>

      <br /><br />
      <!--------------------------------------->

      <!-- achievementsDetails -->

      <mat-expansion-panel>
        <mat-expansion-panel-header
          expandedHeight="45px"
          collapsedHeight="45px"
          class="pl-0 bgcolor"
        >
          <mat-panel-title class="accordion-heading">
            <span class="achiev"><span class="achievement"></span></span>

            <span class="headerFont">
              <span class="m-h">Achievements Details</span>
            </span>
          </mat-panel-title>
          <mat-panel-description>
            <div class="btn-actions-pane-right">
              <button
                (click)="
                  openModal({
                    achievementsDetails: '',
                    heading: 'Add Achievements Details'
                  })
                "
                class="btn-icon btn btn-link"
                style="height: 8px;"
              >
                <span class="more"></span>
              </button>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <br />

        <div
          class="container"
          style="margin-top: 4px;"
          *ngFor="let item of fixerProfileSchema.fixerAchievementDetails"
        >
          <div *ngIf="item.personId" class="row">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
              <div class="row">
                <div class="col-12">
                  <span
                    >Headlines/Title :<span class="font-weight-bold">
                      {{ item.headlineTitles }}</span
                    ></span
                  >
                  &nbsp;&nbsp;&nbsp;
                  <span
                    >Category :<span class="font-weight-bold">
                      {{ item.achievementsCategory }}</span
                    ></span
                  >&nbsp;&nbsp;&nbsp;
                  <span *ngIf="item.achievementsSummary"
                    >Summary:&nbsp; {{ item.achievementsSummary }}</span
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <button
                    (click)="deleteAchi(item._id)"
                    class="mb-2 mr-2 btn-icon btn btn-link"
                  >
                    <span class="trash"></span>
                  </button>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <button
                    (click)="
                      openModal({
                        updateData: item._id,
                        achievementsDetails: '',
                        heading: 'Edit Achievements Details'
                      })
                    "
                    class="mb-2 mr-2 btn-icon btn btn-link"
                  >
                    <span class="edit"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
      <br /><br />

      <!-- --------------------------------------------- -->

      <!-- Skillsets section  -->
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header
            expandedHeight="45px"
            collapsedHeight="45px"
            class="pl-0 bgcolor"
          >
            <mat-panel-title class="accordion-heading">
              <span class="professional"><span class="skills"></span></span>
              <span class="headerFont">
                <span class="m-h">Skillsets, Self-Assessments, Ratings</span>
              </span>
            </mat-panel-title>
            <mat-panel-description>
              <div class="btn-actions-pane-right">
                <button
                  (click)="
                    openModal({
                      skillsDetails: '',
                      heading: 'Add Skillsets,Self-Assessments,Ratings Details'
                    })
                  "
                  class="btn-icon btn btn-link"
                  style="height: 8px;"
                >
                  <span class="more"></span>
                </button>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div
            style="margin-top: 4px;"
            *ngFor="let item of fixerProfileSchema.fixerSkillDetails"
            class="mb-3"
          >
            <div *ngIf="item.personId" class="card-body">
              <button
                style="float: right;"
                (click)="
                  openModal({
                    updateData: item,
                    skillsDetails: '',
                    heading: 'Edit Skillsets,Self-Assessments,Ratings Details'
                  })
                "
                class="mb-2 mr-2 btn-icon btn btn-link"
              >
                <span class="edit"></span>
              </button>
              <button
                style="float: right;"
                (click)="deleteSkills(item._id)"
                class="mb-2 mr-2 btn-icon btn btn-link"
              >
                <span class="trash"></span>
              </button>

              <div class="row">
                <div class="col-12">
                  <span
                    >Category :
                    <span class="font-weight-bold"
                      >{{ item.skillCategory }}
                    </span></span
                  >
                  &nbsp;&nbsp;&nbsp;
                  <span
                    >Skillset :
                    <span class="font-weight-bold">{{
                      item.skillSet
                    }}</span></span
                  >
                  &nbsp;&nbsp;&nbsp;
                  <span
                    >Assessment :
                    <span class="font-weight-bold">{{
                      item.selfAssessmentScore
                    }}</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <br /><br /><br />

      <!-- ----------------------------  -->
    </div>

    <!-- {{profileStatus?.profileSummary | async}} -->
    <div class="col-lg-3">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header
            class="bgcolor"
            expandedHeight="45px"
            collapsedHeight="45px"
          >
            <mat-panel-title>
              Profile Status
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list class="">
            <mat-list-item style="font-size: 10px;">
              <div class="row p-t-10">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                  <span
                    [ngClass]="
                      (profileStatus?.profileSummary | async) ? '' : 's-c-g'
                    "
                    >Profile Summary</span
                  >
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <img
                    *ngIf="profileStatus?.profileSummary | async"
                    class="img-list"
                    src="../../assets/icons/green-sucess.svg"
                  />
                  <img
                    *ngIf="(profileStatus?.profileSummary | async) == null"
                    class="img-list-cancel"
                    src="../../assets/icons/red-fail.svg"
                  />
                </div>
              </div>
            </mat-list-item>
            <mat-divider class="b-c-b"></mat-divider><br />
            <mat-list-item style="font-size: 10px;">
              <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                  <span
                    [ngClass]="
                      (profileStatus?.educationDetails | async) ? '' : 's-c-g'
                    "
                    >Education details</span
                  >
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <img
                    *ngIf="profileStatus?.educationDetails | async"
                    class="img-list"
                    src="../../assets/icons/green-sucess.svg"
                  />
                  <img
                    *ngIf="(profileStatus?.educationDetails | async) == null"
                    class="img-list-cancel"
                    src="../../assets/icons/red-fail.svg"
                  />
                </div>
              </div>
            </mat-list-item>
            <mat-divider class="b-c-b"></mat-divider><br />
            <mat-list-item style="font-size: 10px;">
              <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                  <span
                    [ngClass]="
                      (profileStatus?.professionalDetails | async)
                        ? ''
                        : 's-c-g'
                    "
                    >Experience details</span
                  >
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <img
                    *ngIf="profileStatus?.professionalDetails | async"
                    class="img-list"
                    src="../../assets/icons/green-sucess.svg"
                  />
                  <img
                    *ngIf="(profileStatus?.professionalDetails | async) == null"
                    class="img-list-cancel"
                    src="../../assets/icons/red-fail.svg"
                  />
                </div>
              </div>
            </mat-list-item>
            <mat-divider class="b-c-b"></mat-divider><br />
            <!-- {{profileStatus?.achievementsDetails | async}} -->
            <mat-list-item style="font-size: 10px;">
              <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                  <span
                    [ngClass]="
                      (profileStatus?.achievementsDetails | async)
                        ? ''
                        : 's-c-g'
                    "
                    >Achievements</span
                  >
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <img
                    *ngIf="profileStatus?.achievementsDetails | async"
                    class="img-list"
                    src="../../assets/icons/green-sucess.svg"
                  />
                  <img
                    *ngIf="(profileStatus?.achievementsDetails | async) == null"
                    class="img-list-cancel"
                    src="../../assets/icons/red-fail.svg"
                  />
                </div>
              </div>
            </mat-list-item>
            <mat-divider class="b-c-b"></mat-divider><br />
            <mat-list-item style="font-size: 10px;">
              <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                  <span
                    [ngClass]="
                      (profileStatus?.skillsDetails | async) ? '' : 's-c-g'
                    "
                    >Skills</span
                  >
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <img
                    *ngIf="profileStatus?.skillsDetails | async"
                    class="img-list"
                    src="../../assets/icons/green-sucess.svg"
                  />
                  <img
                    *ngIf="(profileStatus?.skillsDetails | async) == null"
                    class="img-list-cancel"
                    src="../../assets/icons/red-fail.svg"
                  />
                </div>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
      <br />

      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header
            class="bgcolor"
            expandedHeight="45px"
            collapsedHeight="45px"
          >
            <mat-panel-title>
              Verifications
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item style="font-size: 10px;">Linkedin</mat-list-item
            ><br />
            <mat-divider style="background-color: blue;"></mat-divider><br />
            <mat-list-item style="font-size: 10px;">Education</mat-list-item
            ><br />
            <mat-divider style="background-color: blue;"></mat-divider><br />
            <mat-list-item style="font-size: 10px;">Experience</mat-list-item
            ><br />
            <mat-divider style="background-color: blue;"></mat-divider><br />
            <mat-list-item style="font-size: 10px;"
              >Identity
              <a style="color: blue;" class="ml-5 aTag"
                >Verify</a
              ></mat-list-item
            ><br />
            <mat-divider style="background-color: blue;"></mat-divider><br />
            <mat-list-item style="font-size: 9px;"
              >Payment
              <a style="color: blue;" class="ml-5 aTag"
                >Verify</a
              ></mat-list-item
            >
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
      <br />
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header
            class="bgcolor"
            expandedHeight="45px"
            collapsedHeight="45px"
          >
            <mat-panel-title>
              News/Feeds
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-card>
            <mat-list>
              <mat-list-item style="font-size: 10px;"
                >News Topics 1</mat-list-item
              >
              <mat-divider
                [inset]="true"
                style="background-color: blue;"
              ></mat-divider>
              <mat-list-item style="font-size: 10px;"
                >News Topics 2</mat-list-item
              >
              <mat-divider
                [inset]="true"
                style="background-color: blue;"
              ></mat-divider>
              <mat-list-item style="font-size: 10px;"
                >News Topics 3</mat-list-item
              ><br />
              <span class="ml-3" style="color: blue; font-size: 8px;"
                >Show more
                <i
                  class="fa fa-chevron-down fa-sm"
                  style="color: blue;"
                  aria-hidden="true"
                ></i>
              </span>
            </mat-list>
          </mat-card>
        </mat-expansion-panel>
      </mat-accordion>
      <br />
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header
            class="bgcolor"
            expandedHeight="45px"
            collapsedHeight="45px"
          >
            <mat-panel-title>
              Top Skills
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-card>
            <mat-list>
              <mat-list-item style="font-size: 10px;">Skill 1</mat-list-item>
              <mat-divider
                [inset]="true"
                style="background-color: blue;"
              ></mat-divider>
              <mat-list-item style="font-size: 10px;">Skill 2</mat-list-item
              ><br />
              <span class="ml-3" style="color: blue; font-size: 8px;"
                >Show more
                <i
                  class="fa fa-chevron-down fa-sm"
                  style="color: blue;"
                  aria-hidden="true"
                ></i>
              </span>
            </mat-list>
          </mat-card>
        </mat-expansion-panel>
      </mat-accordion>
      <br />
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header
            class="bgcolor"
            expandedHeight="45px"
            collapsedHeight="45px"
          >
            <mat-panel-title>
              Top Founders
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-card>
            <mat-card-content>
              <mat-list>
                <mat-list-item style="font-size: 10px;"
                  >Founder 1</mat-list-item
                >
                <mat-divider
                  [inset]="true"
                  style="background-color: blue;"
                ></mat-divider>
                <mat-list-item style="font-size: 10px;">Founder 2</mat-list-item
                ><br />
                <span class="ml-3" style="color: blue; font-size: 8px;"
                  >Show more
                  <i
                    class="fa fa-chevron-down fa-sm"
                    style="color: blue;"
                    aria-hidden="true"
                  ></i>
                </span>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </mat-expansion-panel>
      </mat-accordion>
      <br />
    </div>
  </div>
</div>

<div *ngIf="profileData == 'Invent Fund Founder'">
  <div class="container-md">
    <h5 style="font-family: Montserrat; font-weight: 600;">Profile Overview</h5>
    <br />
    <div class="row">
      <div class="col-lg-9">
        <div class="main-card mb-3 card bgcolor mx-auto">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-md-3 col-lg-3 col-xl-3 pr-0 verticalLine">
                <img
                  src="{{ profileImg | async }}"
                  class="rounded-circle imgsize image-fluid mt-5 mx-auto d-block"
                  alt="abc"
                />
                &nbsp;&nbsp;<br />

                <p class="cent"><b>Individual</b></p>
                <br />
                <div class="row no-gutters">
                  <div class="col-3">
                    <!-- <span class="Calendar float-right mt-2"></span> -->
                    <span
                      style="margin-top: 4px;"
                      class="Calendar float-right"
                    ></span>
                  </div>

                  <div class="col-9">
                    <p class="mb-5 ml-2 sm-mb">
                      <b> Member Since:</b>
                      {{
                        founderProfileSchema.founderPersonDetails?.createdDate
                          | date: 'MM/dd/yyyy'
                      }}
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-9 col-xl-9 col-lg-9">
                <div class="row">
                  <div
                    style="padding-left: 6px; padding-top: 6px;"
                    class="col-md-9 col-lg-9 col-xl-9 col-sm-4 mt-3 pl-3 sm-align"
                  >
                    &nbsp;
                    <div
                      *ngIf="editmainsection == false"
                      class="d-sm-block d-md-none p-0"
                    >
                      <button
                        class="btn btn-primary btn-right ml-3 mt-4"
                        style="height: 35px; width: 203px; margin-bottom: 20px;"
                      >
                        <span class="linkedin"></span>
                        <span>Sync your LinkedIn Profile</span>
                      </button>

                      <span
                        class="edit float-right mr-3 mt-4"
                        (click)="onclick()"
                      ></span>
                    </div>

                    <h6
                      class="mb-0"
                      style="font-family: montserrat; font-weight: 600;"
                    >
                      {{ founderProfileSchema.founderPersonDetails.name }}
                    </h6>
                    <!-- <small>banglore,India</small> -->
                    <h6
                      class="mt-3"
                      *ngIf="editmainsection == false"
                      style="font-family: montserrat; font-weight: 600;"
                    >
                      Professional Headline
                    </h6>

                    <p
                      class="mt-0"
                      *ngIf="
                        editmainsection == false &&
                        founderProfileSchema.founderProfileSummary.headline
                      "
                    >
                      {{ founderProfileSchema.founderProfileSummary.headline }}
                    </p>
                    <p
                      class="mt-0"
                      *ngIf="
                        editmainsection == false &&
                        !founderProfileSchema.founderProfileSummary.headline
                      "
                    >
                      Enter Headline(Not more than 75 words)
                    </p>
                    <h6
                      class="mt-3"
                      *ngIf="editmainsection == false"
                      style="font-family: montserrat; font-weight: 600;"
                    >
                      Professional Summary
                    </h6>

                    <p
                      class="mt-0"
                      *ngIf="
                        editmainsection == false &&
                        founderProfileSchema.founderProfileSummary
                          .professionalSummary
                      "
                    >
                      {{
                        founderProfileSchema.founderProfileSummary
                          .professionalSummary
                      }}
                    </p>
                    <p
                      class="mt-0"
                      *ngIf="
                        editmainsection == false &&
                        !founderProfileSchema.founderProfileSummary
                          .professionalSummary
                      "
                    >
                      Enter Summary(Not more than 300 words)
                    </p>
                    <!-- <app-ct-form-builder *ngIf="editmainsection==true" [formFieldsJson]="profileSummaryJson" [modelData]="modelData" (saveDataEmitter)='createProfileSummaryData($event)' (updateDataEmitter)='updateProfileSummaryData($event)' (cancelDataEmitter)="cancelProfileSummary($event)">
                                    </app-ct-form-builder> -->
                  </div>

                  <div class="col-md-3 col-xl-3 col-lg-3 sm-none">
                    <button
                      class="btn btn-primary btn-right mr-3 mt-4"
                      style="float: right; height: 35px; width: 203px;"
                    >
                      <span class="linkedin"></span>
                      <span>Sync your LinkedIn Profile</span>
                    </button>
                    <br /><br />
                    <span class="edit mt-4 ml-5" (click)="onclick()"></span>
                  </div>

                  <div
                    class="col-md-11 col-lg-11 col-xl-11 p-0"
                    *ngIf="editmainsection == true"
                  >
                    <!-- <h6 class=" mb-0" style="font-family:montserrat;font-weight: 600; padding-top: 8px;">
                                        {{founderProfileSchema.founderPersonDetails?.name}}</h6> -->
                    <app-ct-form-builder
                      [formFieldsJson]="profileSummaryJson"
                      [modelData]="modelData"
                      (saveDataEmitter)="createProfileSummaryData($event)"
                      (updateDataEmitter)="updateProfileSummaryData($event)"
                      (cancelDataEmitter)="cancelProfileSummary($event)"
                    >
                    </app-ct-form-builder>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <!-- Showcase  -->
        <mat-expansion-panel>
          <mat-expansion-panel-header
            expandedHeight="45px"
            collapsedHeight="45px"
            class="pl-0 bgcolor"
          >
            <mat-panel-title class="accordion-heading">
              <span class="showcase"></span>

              <span class="headerFont">
                <span class="m-h">Showcase</span>
              </span>
            </mat-panel-title>
            <mat-panel-description>
              <div class="btn-actions-pane-right">
                <button
                  (click)="openModal({ showcase: '', heading: 'Add Showcase' })"
                  class="btn-icon btn btn-link"
                  style="height: 8px;"
                >
                  <span class="more"></span>
                </button>
                <!-- <button class="btn-icon btn btn-link " style="height:8px">
                                <span class="more"></span>
                               </button> -->
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <br />

          <app-carousel
            *ngIf="show && showcaseArray"
            #carousel
            [showControls]="false"
          >
            <!-- {{showcaseArray | json}} -->
            <ng-container *ngFor="let slide of showcaseArray; let i = index">
              <div
                *carouselSlide
                class="mx-2 card shadow-none testimonial-carousel"
              >
                <!-- {{slide?.fileType}} -->

                <img
                  class="close"
                  src="../../../assets/images-ui/delete.svg"
                  style="cursor: pointer;"
                  (click)="deleteCarosulDoc(slide)"
                  *ngIf="slide?.url && slide?.fileType == 'application/pdf'"
                />
                <img
                  class="image-center border-light"
                  style="height: 140px; width: 120px;"
                  *ngIf="slide?.url && slide?.fileType == 'application/pdf'"
                  src="../../../assets/images-ui/pdf-image-viewer.png"
                  alt="..."
                  (click)="emitImageObject(slide)"
                />
                <img
                  class="close"
                  src="../../../assets/images-ui/delete.svg"
                  style="cursor: pointer;"
                  (click)="deleteCarosulDoc(slide)"
                  *ngIf="slide?.url && slide?.fileType == 'image/jpeg'"
                />

                <img
                  class="border-light"
                  style="height: 140px; width: 120px;"
                  *ngIf="slide?.url && slide?.fileType == 'image/jpeg'"
                  [src]="slide?.url"
                  alt="..."
                />

                <img
                  class="close z-index"
                  src="../../../assets/images-ui/delete.svg"
                  style="cursor: pointer;"
                  (click)="deleteCarosulDoc(slide)"
                  *ngIf="slide?.url && slide?.fileType == 'video/mp4'"
                />
                <video
                  class="border-light"
                  style="height: 134px; width: 120px;"
                  controls
                  *ngIf="slide?.url && slide?.fileType == 'video/mp4'"
                >
                  <source
                    [src]="slide?.url"
                    *ngIf="slide?.url && slide?.fileType == 'video/mp4'"
                    type="video/mp4"
                  />
                </video>

                <div class="">
                  <p
                    style="
                      text-align: center;
                      font-weight: 500;
                      word-wrap: break-word;
                    "
                    class="card-text des-p-t-w"
                  >
                    {{ slide.description }}
                  </p>
                </div>
              </div>
            </ng-container>

            <div class="prev-button" (click)="carousel.prev()">
              <a class="carousel-control-prev-icon"></a>
            </div>
            <div class="next-button" (click)="carousel.next()">
              <a class="carousel-control-next-icon"></a>
            </div>
          </app-carousel>
        </mat-expansion-panel>
        <br /><br />

        <!-- Profile Summary Section  -->

        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header
            expandedHeight="45px"
            collapsedHeight="45px"
            class="pl-0 bgcolor"
          >
            <mat-panel-title class="accordion-heading pb-0">
              <span class="profileSummary">
                <span class="profileSum"></span>
              </span>
              <span class="headerFont">
                <span class="m-h">Profile Summary</span>
              </span>
            </mat-panel-title>
            <mat-panel-description>
              <div class="btn-actions-pane-right">
                <button
                  (click)="
                    openModal({
                      profileSummary: modelData?.profileSummary,
                      heading: 'Edit Profile Summary'
                    })
                  "
                  class="btn-icon btn btn-link"
                  style="height: 15px;"
                >
                  <span class="edit"></span>
                </button>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <br />
          <p *ngIf="!founderProfileSchema.founderProfileSummary.profileSummary">
            Free text write a paragraph About, experience summary, Specialities,
            Key highlights etc.<br />
            (Not more than 1000 words)
          </p>
          <p *ngIf="founderProfileSchema.founderProfileSummary.profileSummary">
            {{ founderProfileSchema.founderProfileSummary.profileSummary }}
          </p>
        </mat-expansion-panel>
        <br /><br />

        <!--------------------------------------->

        <!-- Education Details Summary Section  -->

        <mat-expansion-panel>
          <mat-expansion-panel-header
            expandedHeight="45px"
            collapsedHeight="45px"
            class="pl-0 bgcolor"
          >
            <mat-panel-title class="accordion-heading pb-0">
              <span class="education"><span class="education1"></span></span>
              <span class="headerFont">
                <span class="m-h">Education Details</span>
              </span>
            </mat-panel-title>
            <mat-panel-description>
              <div class="btn-actions-pane-right" style="margin-top: 8px;">
                <button
                  (click)="
                    openModal({
                      educationalDetails: '',
                      heading: 'Add Educational Details'
                    })
                  "
                  class="mb-2 mr-2 btn-icon btn btn-link"
                >
                  <span class="more mt-1"></span>
                </button>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div
            style="margin-top: 12px;"
            *ngFor="let item of founderProfileSchema.founderEducationalDetails"
            class="mb-3"
          >
            <div *ngIf="item.personId">
              <button
                style="float: right;"
                (click)="
                  openModal({
                    updateData: item,
                    educationalDetails: '',
                    heading: 'Edit Education Details'
                  })
                "
                class="mb-2 mr-2 btn-icon btn btn-link"
              >
                <span class="edit"></span>
              </button>
              <button
                style="float: right;"
                (click)="deleteEducationData(item._id)"
                class="mb-2 mr-2 btn-icon btn btn-link"
              >
                <span class="trash"></span>
              </button>

              <div class="row">
                <div class="col-10">
                  <p *ngIf="item?.college" class="font-weight-bold mb-1 margin">
                    {{ item?.college }}
                  </p>
                  <p
                    *ngIf="item?.education && item.specialization"
                    class="mb-1 margin"
                  >
                    {{ item.education }},&nbsp;{{ item.specialization }}
                  </p>
                  <span *ngIf="item.grade" class="mb-1 margin"
                    >Grade:<b>{{ item.grade }}</b></span
                  >
                  &nbsp;&nbsp;&nbsp;
                  <span *ngIf="item.cgpaScored" class="mb-1 margin"
                    >&nbsp;&nbsp;&nbsp;CGPA:<b
                      >{{ item.cgpaScored }}/{{ item.cgpaMax }}</b
                    ></span
                  >
                  &nbsp;&nbsp;&nbsp;
                  <span *ngIf="item.percentile" class="mb-1 margin"
                    >&nbsp;&nbsp;&nbsp;Percentile:<b
                      >{{ item.percentile }}%</b
                    ></span
                  >
                  &nbsp;&nbsp;&nbsp;
                  <span *ngIf="item.percentage" class="mb-1 margin"
                    >&nbsp;&nbsp;&nbsp;Percentage:<b
                      >{{ item.percentile }}%</b
                    ></span
                  >
                  <p *ngIf="item.from" class="mb-1 margin">
                    {{ item.from | date: 'MMM yyyy' }}-{{
                      item.to | date: 'MMM yyyy'
                    }}
                  </p>
                  <p *ngIf="item.keyHighlights" class="margin">
                    Key Highlights : <b>{{ item.keyHighlights }}</b>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
        <br /><br />

        <br /><br />

        <!-- --------------------------------------------- -->

        <!-- Skillsets section  -->
        <br /><br /><br />

        <!-- ----------------------------  -->
      </div>

      <div class="col-lg-3">
        <mat-accordion>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header
              class="bgcolor"
              expandedHeight="45px"
              collapsedHeight="45px"
            >
              <mat-panel-title>
                Profile Status
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-list class="">
              <mat-list-item style="font-size: 10px;">
                <div class="row p-t-10">
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <span
                      [ngClass]="
                        (profileStatus?.profileSummary | async) ? '' : 's-c-g'
                      "
                      >Profile Summary</span
                    >
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <img
                      *ngIf="profileStatus?.profileSummary | async"
                      class="img-list"
                      src="../../assets/icons/green-sucess.svg"
                    />
                    <img
                      *ngIf="(profileStatus?.profileSummary | async) == null"
                      class="img-list-cancel"
                      src="../../assets/icons/red-fail.svg"
                    />
                  </div>
                </div>
              </mat-list-item>
              <mat-divider class="b-c-b"></mat-divider><br />
              <mat-list-item style="font-size: 10px;">
                <div class="row">
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <span
                      [ngClass]="
                        (profileStatus?.educationDetails | async) ? '' : 's-c-g'
                      "
                      >Education details</span
                    >
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <img
                      *ngIf="profileStatus?.educationDetails | async"
                      class="img-list"
                      src="../../assets/icons/green-sucess.svg"
                    />
                    <img
                      *ngIf="(profileStatus?.educationDetails | async) == null"
                      class="img-list-cancel"
                      src="../../assets/icons/red-fail.svg"
                    />
                  </div>
                </div>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
        <br />

        <br />
      </div>
    </div>
  </div>
</div>

<div *ngIf="profileData == 'Invent Fund Funder'">
  <div class="container-md">
    <h5 style="font-family: Montserrat; font-weight: 600;">Profile Overview</h5>
    <br />
    <div class="row">
      <div class="col-lg-9">
        <div class="main-card mb-3 card bgcolor mx-auto">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-md-3 col-lg-3 col-xl-3 pr-0 verticalLine">
                <img
                  src="{{ profileImg | async }}"
                  class="rounded-circle imgsize image-fluid mt-5 mx-auto d-block"
                  alt="abc"
                />
                &nbsp;&nbsp;<br />

                <!-- <mat-form-field [floatLabel]="auto" class="ml-4">
                        
                                    <mat-select (selectionChange)="changeInType($event)" [(ngModel)]="selectedValue" #matSelect required>
                        
                                        <mat-option *ngFor="let type of types" [value]="type.value">{{type.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field> -->

                <form name="form" [formGroup]="form">
                  <select
                    formControlName="roleType"
                    (change)="changeInType($event.target.value, selectedValue)"
                    style="
                      border: none;
                      background-color: whitesmoke;
                      width: 85%;
                    "
                    class="mb-2 form-control"
                  >
                    <option *ngFor="let type of types" [value]="type.value"
                      >{{ type.viewValue }}
                    </option>
                  </select>
                  <!-- <mat-select (selectionChange)="changeInType($event)" formControlName="roleType" #matSelect>
                        
                                    <mat-option *ngFor="let type of types" [value]="type.value">{{type.viewValue}}
                                    </mat-option>
                                </mat-select> -->
                </form>
                <br />
                <br />

                <div class="row no-gutters">
                  <div class="col-3">
                    <!-- <span class="Calendar float-right mt-2 mr-2"></span> -->
                    <span
                      style="margin-top: 4px;"
                      class="Calendar float-right"
                    ></span>
                  </div>

                  <div class="col-9">
                    <p class="mb-5 ml-2 mr-2">
                      <b> Member Since:</b>
                      {{
                        funderProfileSchema.funderPersonDetails?.createdDate
                          | date: 'MM/dd/yyyy'
                      }}
                    </p>
                  </div>
                </div>
              </div>

              <div
                *ngIf="selectedValue == 'value-0' || selectedValue == 'value-1'"
                class="col-9 col-md-9 col-xl-9 col-lg-9"
              >
                <div class="row">
                  <div
                    style="padding-left: 6px; padding-top: 6px;"
                    class="col-md-9 col-lg-9 col-xl-9 col-sm-4 mt-3 pl-3 sm-align"
                  >
                    &nbsp;
                    <div
                      *ngIf="editmainsection == false"
                      class="d-sm-block d-md-none p-0"
                    >
                      <button
                        class="btn btn-primary btn-right ml-3 mt-4"
                        style="height: 35px; width: 203px; margin-bottom: 20px;"
                      >
                        <span class="linkedin"></span>
                        <span>Sync your LinkedIn Profile</span>
                      </button>

                      <span
                        class="edit float-right mr-3 mt-4"
                        (click)="onclick()"
                      ></span>
                    </div>

                    <h6
                      class="mb-0"
                      style="font-family: montserrat; font-weight: 600;"
                    >
                      {{ funderProfileSchema.funderPersonDetails?.name }}
                    </h6>
                    <!-- <small>banglore,India</small> -->
                    <h6
                      class="mt-3"
                      *ngIf="editmainsection == false"
                      style="font-family: montserrat; font-weight: 600;"
                    >
                      Professional Headline
                    </h6>

                    <p
                      class="mt-0"
                      *ngIf="
                        editmainsection == false &&
                        funderProfileSchema.funderProfileSummary.headline
                      "
                    >
                      {{ funderProfileSchema.funderProfileSummary.headline }}
                    </p>
                    <p
                      class="mt-0"
                      *ngIf="
                        editmainsection == false &&
                        !funderProfileSchema.funderProfileSummary.headline
                      "
                    >
                      Enter Headline(Not more than 75 words)
                    </p>
                    <h6
                      class="mt-3"
                      *ngIf="editmainsection == false"
                      style="font-family: 'Montserrat'; font-weight: 600;"
                    >
                      Professional Summary
                    </h6>

                    <p
                      class="mt-0"
                      *ngIf="
                        editmainsection == false &&
                        funderProfileSchema.funderProfileSummary
                          .professionalSummary
                      "
                    >
                      {{
                        funderProfileSchema.funderProfileSummary
                          .professionalSummary
                      }}
                    </p>
                    <p
                      class="mt-0"
                      *ngIf="
                        editmainsection == false &&
                        !funderProfileSchema.funderProfileSummary
                          .professionalSummary
                      "
                    >
                      Enter Summary(Not more than 300 words)
                    </p>
                  </div>

                  <div class="col-md-3 col-xl-3 col-lg-3 sm-none">
                    <button
                      class="btn btn-primary btn-right mr-3 mt-4"
                      style="float: right; height: 35px; width: 203px;"
                    >
                      <span class="linkedin"></span>
                      <span>Sync your LinkedIn Profile</span>
                    </button>
                    <br /><br />
                    <span class="edit mt-4 ml-5" (click)="onclick()"></span>
                  </div>

                  <div
                    class="col-md-11 col-lg-11 col-xl-11 p-0"
                    *ngIf="editmainsection == true"
                  >
                    <app-ct-form-builder
                      [formFieldsJson]="profileSummaryJson"
                      [modelData]="modelData"
                      (saveDataEmitter)="createProfileSummaryData($event)"
                      (updateDataEmitter)="updateProfileSummaryData($event)"
                      (cancelDataEmitter)="cancelProfileSummary($event)"
                    >
                    </app-ct-form-builder>
                  </div>
                </div>
              </div>

              <div
                *ngIf="selectedValue == 'value-2' || selectedValue == 'value-3'"
                class="col-md-9 col-xl-9 col-lg-9"
              >
                <div class="row">
                  <div
                    style="padding-left: 6px; padding-top: 6px;"
                    class="col-md-9 col-lg-9 col-xl-9 col-sm-4 mt-3 pl-3 sm-align"
                  >
                    &nbsp;
                    <div
                      *ngIf="editmainsection == false"
                      class="d-sm-block d-md-none p-0"
                    >
                      <button
                        class="btn btn-primary btn-right ml-3 mt-4"
                        style="height: 35px; width: 203px; margin-bottom: 20px;"
                      >
                        <span class="linkedin"></span>
                        <span>Sync your LinkedIn Profile</span>
                      </button>

                      <span
                        class="edit float-right mr-3 mt-4"
                        (click)="onclick()"
                      ></span>
                    </div>

                    <h6
                      class="mb-0"
                      style="font-family: montserrat; font-weight: 600;"
                    >
                      {{ funderProfileSchema.funderPersonDetails?.name }}
                    </h6>
                    <!-- <small>banglore,India</small> -->
                    <h6
                      class="mt-3"
                      *ngIf="editmainsection == false"
                      style="font-family: montserrat; font-weight: 600;"
                    >
                      Organization Headline
                    </h6>

                    <p
                      class="mt-0"
                      *ngIf="
                        editmainsection == false &&
                        funderProfileSchema.funderProfileSummary.headline
                      "
                    >
                      {{ funderProfileSchema.funderProfileSummary.headline }}
                    </p>
                    <p
                      class="mt-0"
                      *ngIf="
                        editmainsection == false &&
                        !funderProfileSchema.funderProfileSummary.headline
                      "
                    >
                      Enter Headline(Not more than 75 words)
                    </p>
                    <h6
                      class="mt-3"
                      *ngIf="editmainsection == false"
                      style="font-family: 'Montserrat'; font-weight: 600;"
                    >
                      Organization Summary
                    </h6>

                    <p
                      class="mt-0"
                      *ngIf="
                        editmainsection == false &&
                        funderProfileSchema.funderProfileSummary
                          .professionalSummary
                      "
                    >
                      {{
                        funderProfileSchema.funderProfileSummary
                          .professionalSummary
                      }}
                    </p>
                    <p
                      class="mt-0"
                      *ngIf="
                        editmainsection == false &&
                        !funderProfileSchema.funderProfileSummary
                          .professionalSummary
                      "
                    >
                      Enter Summary(Not more than 300 words)
                    </p>
                  </div>

                  <div class="col-md-3 col-xl-3 col-lg-3 sm-none">
                    <button
                      class="btn btn-primary btn-right mr-3 mt-4"
                      style="float: right; height: 35px; width: 203px;"
                    >
                      <span class="linkedin"></span>
                      <span>Sync your LinkedIn Profile</span>
                    </button>
                    <br /><br />
                    <span class="edit mt-4 ml-5" (click)="onclick()"></span>
                  </div>

                  <div
                    class="col-md-11 col-lg-11 col-xl-11 p-0"
                    *ngIf="editmainsection == true"
                  >
                    <app-ct-form-builder
                      [formFieldsJson]="profileSummaryJson"
                      [modelData]="modelData"
                      (saveDataEmitter)="createProfileSummaryData($event)"
                      (updateDataEmitter)="updateProfileSummaryData($event)"
                      (cancelDataEmitter)="cancelProfileSummary($event)"
                    >
                    </app-ct-form-builder>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <!--About Organization-->
        <mat-expansion-panel
          [expanded]="true"
          *ngIf="selectedValue == 'value-2' || selectedValue == 'value-3'"
        >
          <mat-expansion-panel-header
            expandedHeight="45px"
            collapsedHeight="45px"
            class="pl-0 bgcolor"
          >
            <mat-panel-title class="accordion-heading pb-0">
              <span class="profileSummary">
                <span class="organize"></span>
              </span>
              <span class="headerFont">
                <span class="m-h">About Organization</span>
              </span>
            </mat-panel-title>
            <mat-panel-description>
              <div class="btn-actions-pane-right">
                <button
                  (click)="
                    openModal({
                      profileSummary: modelData?.profileSummary,
                      heading: 'Edit About Organization'
                    })
                  "
                  class="btn-icon btn btn-link"
                  style="height: 15px;"
                >
                  <span class="edit"></span>
                </button>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <br />
          <p *ngIf="!funderProfileSchema.funderProfileSummary.profileSummary">
            Free text write a paragragh About, experience summary, Specialities,
            Key highlights etc.<br />
            (Not more than 1000 words)
          </p>
          <p *ngIf="funderProfileSchema.funderProfileSummary.profileSummary">
            {{ funderProfileSchema.funderProfileSummary.profileSummary }}
          </p>
        </mat-expansion-panel>
        <br />
        <!-- Showcase  -->
        <mat-expansion-panel
          *ngIf="selectedValue == 'value-0' || selectedValue == 'value-1'"
        >
          <mat-expansion-panel-header
            expandedHeight="45px"
            collapsedHeight="45px"
            class="pl-0 bgcolor"
          >
            <mat-panel-title class="accordion-heading">
              <span class="showcase"></span>

              <span class="headerFont">
                <span class="m-h">Showcase</span>
              </span>
            </mat-panel-title>
            <mat-panel-description>
              <div class="btn-actions-pane-right">
                <button
                  (click)="openModal({ showcase: '', heading: 'Add Showcase' })"
                  class="btn-icon btn btn-link"
                  style="height: 8px;"
                >
                  <span class="more"></span>
                </button>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <br />

          <app-carousel
            *ngIf="show && showcaseArray"
            #carousel
            [showControls]="false"
          >
            <!-- {{showcaseArray | json}} -->
            <ng-container *ngFor="let slide of showcaseArray">
              <div
                *carouselSlide
                class="mx-2 card shadow-none testimonial-carousel"
              >
                <!-- {{slide?.fileType}} -->
                <img
                  class="close"
                  src="../../../assets/images-ui/delete.svg"
                  style="cursor: pointer;"
                  (click)="deleteCarosulDoc(slide)"
                  *ngIf="slide?.url && slide?.fileType == 'application/pdf'"
                />
                <img
                  class="image-center border-light"
                  style="height: 140px; width: 120px;"
                  *ngIf="slide?.url && slide?.fileType == 'application/pdf'"
                  src="../../../assets/images-ui/pdf-image-viewer.png"
                  alt="..."
                  (click)="emitImageObject(slide)"
                />
                <img
                  class="close"
                  src="../../../assets/images-ui/delete.svg"
                  style="cursor: pointer;"
                  (click)="deleteCarosulDoc(slide)"
                  *ngIf="slide?.url && slide?.fileType == 'image/jpeg'"
                />

                <img
                  class="border-light"
                  style="height: 140px; width: 120px;"
                  *ngIf="slide?.url && slide?.fileType == 'image/jpeg'"
                  [src]="slide?.url"
                  alt="..."
                />

                <img
                  class="close z-index"
                  src="../../../assets/images-ui/delete.svg"
                  style="cursor: pointer;"
                  (click)="deleteCarosulDoc(slide)"
                  *ngIf="slide?.url && slide?.fileType == 'video/mp4'"
                />
                <video
                  class="border-light"
                  style="height: 134px; width: 120px;"
                  controls
                  *ngIf="slide?.url && slide?.fileType == 'video/mp4'"
                >
                  <source
                    [src]="slide?.url"
                    *ngIf="slide?.url && slide?.fileType == 'video/mp4'"
                    type="video/mp4"
                  />
                </video>

                <div class="">
                  <p
                    style="
                      text-align: center;
                      font-weight: 500;
                      word-wrap: break-word;
                    "
                    class="card-text des-p-t-w"
                  >
                    {{ slide.description }}
                  </p>
                </div>
              </div>
            </ng-container>

            <div class="prev-button" (click)="carousel.prev()">
              <a class="carousel-control-prev-icon"></a>
            </div>
            <div class="next-button" (click)="carousel.next()">
              <a class="carousel-control-next-icon"></a>
            </div>
          </app-carousel>
        </mat-expansion-panel>

        <br />

        <!-- Profile Summary Section  -->

        <mat-expansion-panel
          [expanded]="true"
          *ngIf="selectedValue == 'value-0' || selectedValue == 'value-1'"
        >
          <mat-expansion-panel-header
            expandedHeight="45px"
            collapsedHeight="45px"
            class="pl-0 bgcolor"
          >
            <mat-panel-title class="accordion-heading pb-0">
              <span class="profileSummary">
                <span class="profileSum"></span>
              </span>
              <span class="headerFont">
                <span class="m-h">Profile Summary</span>
              </span>
            </mat-panel-title>
            <mat-panel-description>
              <div class="btn-actions-pane-right">
                <button
                  (click)="
                    openModal({
                      profileSummary: modelData?.profileSummary,
                      heading: 'Edit Profile Summary'
                    })
                  "
                  class="btn-icon btn btn-link"
                  style="height: 15px;"
                >
                  <span class="edit"></span>
                </button>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <br />
          <p *ngIf="!funderProfileSchema.funderProfileSummary.profileSummary">
            Free text write a paragragh About, experience summary, Specialities,
            Key highlights etc.<br />
            (Not more than 1000 words)
          </p>
          <p *ngIf="funderProfileSchema.funderProfileSummary.profileSummary">
            {{ funderProfileSchema.funderProfileSummary.profileSummary }}
          </p>
        </mat-expansion-panel>

        <br />
        <!-- Education Details Summary Section  -->

        <mat-expansion-panel
          *ngIf="selectedValue == 'value-0' || selectedValue == 'value-1'"
        >
          <mat-expansion-panel-header
            expandedHeight="45px"
            collapsedHeight="45px"
            class="pl-0 bgcolor"
          >
            <mat-panel-title class="accordion-heading pb-0">
              <span class="education"><span class="education1"></span></span>
              <span class="headerFont">
                <span class="m-h">Education Details</span>
              </span>
            </mat-panel-title>
            <mat-panel-description>
              <div class="btn-actions-pane-right" style="margin-top: 8px;">
                <button
                  (click)="
                    openModal({
                      educationalDetails: '',
                      heading: 'Add Educational Details'
                    })
                  "
                  class="mb-2 mr-2 btn-icon btn btn-link"
                >
                  <span class="more mt-1"></span>
                </button>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div
            style="margin-top: 12px;"
            *ngFor="let item of funderProfileSchema.funderEducationalDetails"
            class="mb-3"
          >
            <div *ngIf="item.personId">
              <button
                style="float: right;"
                (click)="
                  openModal({
                    updateData: item,
                    educationalDetails: '',
                    heading: 'Edit Education Details'
                  })
                "
                class="mb-2 mr-2 btn-icon btn btn-link"
              >
                <span class="edit"></span>
              </button>
              <button
                style="float: right;"
                (click)="deleteEducationData(item._id)"
                class="mb-2 mr-2 btn-icon btn btn-link"
              >
                <span class="trash"></span>
              </button>

              <div class="row">
                <div class="col-10">
                  <p *ngIf="item?.college" class="font-weight-bold mb-1 margin">
                    {{ item?.college }}
                  </p>
                  <p
                    *ngIf="item?.education && item.specialization"
                    class="mb-1 margin"
                  >
                    {{ item.education }},&nbsp;{{ item.specialization }}
                  </p>
                  <span *ngIf="item.grade" class="mb-1 margin"
                    >Grade:<b>{{ item.grade }}</b></span
                  >
                  &nbsp;&nbsp;&nbsp;
                  <span *ngIf="item.cgpaScored" class="mb-1 margin"
                    >&nbsp;&nbsp;&nbsp;CGPA:<b
                      >{{ item.cgpaScored }}/{{ item.cgpaMax }}</b
                    ></span
                  >
                  &nbsp;&nbsp;&nbsp;
                  <span *ngIf="item.percentile" class="mb-1 margin"
                    >&nbsp;&nbsp;&nbsp;Percentile:<b
                      >{{ item.percentile }}%</b
                    ></span
                  >
                  &nbsp;&nbsp;&nbsp;
                  <span *ngIf="item.percentage" class="mb-1 margin"
                    >&nbsp;&nbsp;&nbsp;Percentage:<b
                      >{{ item.percentile }}%</b
                    ></span
                  >
                  <p *ngIf="item.from" class="mb-1 margin">
                    {{ item.from | date: 'MMM yyyy' }}-{{
                      item.to | date: 'MMM yyyy'
                    }}
                  </p>
                  <p *ngIf="item.keyHighlights" class="margin">
                    Key Highlights : <b>{{ item.keyHighlights }}</b>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
        <br />
      </div>

      <!-- {{profileStatus?.profileSummary | async}} -->

      <div
        class="col-lg-3"
        *ngIf="selectedValue == 'value-0' || selectedValue == 'value-1'"
      >
        <mat-accordion>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header
              class="bgcolor"
              expandedHeight="45px"
              collapsedHeight="45px"
            >
              <mat-panel-title>
                Profile Status
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list class="">
              <mat-list-item style="font-size: 10px;">
                <div class="row p-t-10">
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <span
                      [ngClass]="
                        (profileStatus?.profileSummary | async) ? '' : 's-c-g'
                      "
                      >Profile Summary</span
                    >
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <img
                      *ngIf="profileStatus?.profileSummary | async"
                      class="img-list"
                      src="../../assets/icons/green-sucess.svg"
                    />
                    <img
                      *ngIf="(profileStatus?.profileSummary | async) == null"
                      class="img-list-cancel"
                      src="../../assets/icons/red-fail.svg"
                    />
                  </div>
                </div>
              </mat-list-item>
              <mat-divider class="b-c-b"></mat-divider><br />
              <mat-list-item style="font-size: 10px;">
                <div class="row">
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <span
                      [ngClass]="
                        (profileStatus?.educationDetails | async) ? '' : 's-c-g'
                      "
                      >Education details</span
                    >
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <img
                      *ngIf="profileStatus?.educationDetails | async"
                      class="img-list"
                      src="../../assets/icons/green-sucess.svg"
                    />
                    <img
                      *ngIf="(profileStatus?.educationDetails | async) == null"
                      class="img-list-cancel"
                      src="../../assets/icons/red-fail.svg"
                    />
                  </div>
                </div>
              </mat-list-item>
              <mat-divider class="b-c-b"></mat-divider><br />

              <!-- {{profileStatus?.achievementsDetails | async}} -->
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
        <br />
      </div>

      <div
        class="col-lg-3"
        *ngIf="selectedValue == 'value-2' || selectedValue == 'value-3'"
      >
        <mat-accordion>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header
              class="bgcolor"
              expandedHeight="45px"
              collapsedHeight="45px"
            >
              <mat-panel-title>
                Profile Status
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-list class="">
              <mat-list-item style="font-size: 10px;">
                <div class="row p-t-10">
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <span
                      [ngClass]="
                        (profileStatus?.profileSummary | async) ? '' : 's-c-g'
                      "
                      >About Organization</span
                    >
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <img
                      *ngIf="profileStatus?.profileSummary | async"
                      class="img-list"
                      src="../../assets/icons/green-sucess.svg"
                    />
                    <img
                      *ngIf="(profileStatus?.profileSummary | async) == null"
                      class="img-list-cancel"
                      src="../../assets/icons/red-fail.svg"
                    />
                  </div>
                </div>
              </mat-list-item>
              <mat-divider class="b-c-b"></mat-divider><br />
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
        <br />
        <br />
      </div>
    </div>
  </div>
</div>
