.form-control.is-valid {
	background-image: none;
}
.margin-auto {
	margin-top: auto;
	margin-bottom: auto;
}

img.a {
	display: block;
	height: auto;
	max-width: 100%;
	line-height: 1;
	margin: auto;
	width: 100%;
	height: 100%; // Add this
}

.iconsize {
	// color: transparent;
	//  position: fixed;
	//  z-index: 1;
	opacity: 0.5;
	// overflow-x: hidden;
	// color: blue;
}

span.linkedin {
	background: url('../../../assets/icons/linkedin.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 15px;
	width: 15px;
	margin-right: 3px;
}

.aTag {
	color: blue;
	text-decoration: underline;
}

.accordion-heading {
	color: rgba(13, 27, 62, 0.7) !important;
	font-weight: bold !important;
	font-size: 0.88rem !important;
	//  padding-top: 6px !important;
}

.box {
	max-height: 250px;
	max-width: 250px;
}

.iconhover:hover {
	color: blue;
}

.profile {
	//background-color: rgb(17, 17, 204);
	color: white;
	// opacity: 0.5;
	width: 50px;
	height: 50px;
	padding-left: 10px;
}

.headerFont {
	font-family: Montserrat;
	display: inline-block;
	//font-size: 18px;
	margin-top: 15px;
	margin-left: 5px;
	font-weight: 700;
}

span.profileSummary {
	// background: url("../../../assets/icons/profileSummary.svg") no-repeat top left;
	background-color: #268aff;
	background-size: contain;
	display: inline-block;
	height: 45px;
	width: 52px;
	z-index: 0;
}

span.profileSum {
	background: url('../../../assets/icons/profileSum.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 32px;
	width: 38px;
	z-index: 1;
	margin-left: 12px;
	margin-top: 7px;
}

span.edit {
	background: url('../../../assets/icons/edit.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 15px;
	width: 15px;
}

span.trash {
	background: url('../../../assets/icons/trash.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 15px;
	width: 15px;
}

span.Calendar {
	background: url('../../../assets/icons/calendar.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 20px;
	width: 20px;
}

span.professional {
	background: url('../../../assets/icons/professional.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 45px;
	width: 50px;
	z-index: 0;
}

span.showcase {
	background: url('../../../assets/icons/showcase.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 50px;
	width: 50px;
	z-index: 0;
}

span.experience {
	background: url('../../../assets/icons/experience.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 35px;
	width: 37px;
	z-index: 1;
	margin-left: 7px;
	margin-top: 5px;
}

span.education {
	background: url('../../../assets/icons/professional.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 50px;
	width: 50px;
	z-index: 0;
}

span.education1 {
	background: url('../../../assets/icons/page-1.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 32px;
	width: 35px;
	z-index: 1;
	margin-left: 7px;
	margin-top: 7px;
}

span.organize {
	background: url('../../../assets/icons/organization.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 40px;
	width: 32px;
	z-index: 1;
	margin-left: 9px;
	margin-top: 5px;
}

span.skill {
	background: url('../../../assets/icons/worker.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 32px;
	width: 35px;
	z-index: 1;
	margin-left: 7px;
	margin-top: 5px;
	// margin-left: 8px;
	// margin-top: 7px;
}

span.skill {
	background: url('../../../assets/icons/worker.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 32px;
	width: 35px;
	z-index: 1;
	margin-left: 8px;
	margin-top: 5px;
}

span.skills {
	// background: url("../../../assets/icons/experience.svg") no-repeat top left;
	background: url('../../../assets/icons/skills.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 35px;
	width: 37px;
	z-index: 1;
	margin-left: 7px;
	margin-top: 5px;
}

span.more {
	background: url('../../../assets/icons/more.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 13px;
	width: 13px;
	position: relative;
	top: 2px;
}

span.delete {
	background: url('../../../assets/icons/delete.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 15px;
	width: 15px;
}

span.achiev {
	background: url('../../../assets/icons/achiev.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 45px;
	width: 50px;
	z-index: 0;
}

.imgsize {
	display: inline-block;
	height: 120px;
	width: 120px;
}

span.achievement {
	background: url('../../../assets/icons/achievement.svg') no-repeat top left;
	background-size: contain;
	display: inline-block;
	height: 35px;
	width: 37px;
	z-index: 1;
	margin-left: 7px;
	margin-top: 5px;
}

.cent {
	display: flex;
	justify-content: center;
	align-items: center;
}

.verticalLine {
	border-right: 1px solid lightgrey;
	// height: 326px;
	height: 100%;
}

.bgcolor {
	background-color: whitesmoke;
}

.margin {
	margin-left: -10px;
}

.margin1 {
	margin-left: -20px;
	margin-right: 3px;
}

::ng-deep .modal-footer {
	background: #f5f5f5 !important;
}

.m-h {
	padding-left: 4px;
	position: relative;
	// bottom: 4px;
	// font-size: 20px;
	// font-weight: 540;
	// font-family: sans-serif;
	bottom: 2px;
	font-size: 16px;
	font-family: Montserrat;
	font-weight: 550;
	color: #3b3b3b;
}

.img-list {
	width: 16px !important;
	float: right !important;
}

.img-list-cancel {
	width: 12px !important;
	float: right !important;
}

.p-t-10 {
	padding-top: 10px !important;
}

::ng-deep .b-c-g {
	border-top-color: #a7a7a7 !important;
}

::ng-deep .b-c-b {
	border-top-color: #268aff !important;
}

::ng-deep .s-c-g {
	color: #a7a7a7;
}

@media only screen and (max-width: 425px) and (min-width: 320px) {
	.sm-none {
		display: none;
	}
	.sm-align {
		margin-top: 0px !important;
		padding-top: 0;
	}
	.mb-5 {
		margin-bottom: 0px !important;
	}
}

.mat-option-text {
	flex-grow: 1;
	display: flex;
	align-items: center;
}

.testimonial-carousel {
	// width: 120px;
	display: inline-block;
}

.prev-button {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	z-index: 3;
	color: black;
	line-height: 200px;
}

.next-button {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	z-index: 2;
	color: black;
	line-height: 200px;
}

// .carousel-control-prev-icon,
// .carousel-control-next-icon {
// 	background-color: #0058b0;
// 	border-radius: 20%;
// }

.image-center {
	margin-left: auto !important;
	margin-right: auto !important;
	display: block;
}
  
  .close {
	position: absolute;
	right: 0;
  }

  .des-p-t-w {
	padding-top: 8px;
	width: 120px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  ::ng-deep .border-light {    
	border: 2px solid #f4f9ff !important;
    border-radius: 6px !important;
  }

.z-index {
	z-index: 1;
}
