/* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import "assets/base.scss";


.side-scroll{
    max-height: calc(100vh - 4rem);
    position :relative

}

.active-link-background{
    background: #e0f3ff;
    color: #3f6ad8 !important;
    font-weight: 700 !important;
}

.field-width-30{
    width: 30%;
    padding: 2px;
    margin: 2px;
    display: inline-block;
    @media screen and (max-width: 600px){
        width: 100%;
        min-width: 0;
        max-width: none;
    }
}

.field-width-100{
    width: 90%;
    padding: 2px;
    margin: 2px;
    display: inline-block;
    @media screen and (max-width: 600px){
        width: 90%;
        min-width: 0;
        max-width: none;
    }
}

.field-width-50{
    width: 50%;
    padding: 2px;
    margin: 2px;
    display: inline-block;
    @media screen and (max-width: 600px){
        width: 90%;
        min-width: 0;
        max-width: none;
    }
}

.centre-text-bold{
    text-align: center !important;
    font-weight: 600;
}

.center-align{
    text-align: center 
}

.right-align{
    text-align: right 
}

.display_text_center {
    // height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slick-prev:before, .slick-next:before { 
    color:blue !important;
    width: 10px;
    right: 15px !important;
    left: 15px !important;
}

.slick-next{
    right: 15px;
}

.slick-prev{
    left: 0px !important;
}


.mat-expansion-indicator::after{
    color: #3f6ad8 !important;
}

.home-icon{
    background: url("assets/icons/home-icon.svg") no-repeat top left

}

.jobs-icon{
    background: url("assets/icons/team.svg") no-repeat top left
}

.connections-icon{
    background: url("assets/icons/network.svg") no-repeat top left
}

.messages-icon{
    background: url("assets/icons/chat.svg") no-repeat top left
}

.profile-icon{
    background: url("assets/icons/user.svg") no-repeat top left
} 

::ng-deep .swal-title {
	margin: 0px !important;
	font-size: 18px !important;
	// box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21) !important;
	margin-bottom: 8px !important;
	position: relative !important;
	max-width: 100% !important;
	padding: 0 !important;
	color: #595959 !important;
	// font-size: 1.875em !important;
	font-weight: 400 !important;
	text-align: center !important;
	text-transform: none !important;
	word-wrap: break-word !important;
}

::ng-deep .swal2-actions {
	margin: 0 !important;
}

.swal2-popup .swal2-styled { 
    margin: 2px !important;
}

.swal2-popup .swal2-title {
    font-size: 18px !important;
}

::ng-deep .swal2-confirm {
	width: 80px !important;
	height: 40px !important;
	margin: 0 auto !important;
	padding: 0 !important;
}

::ng-deep .swal2-show {
    width: 25% !important;
    height: 40% !important;
}

.pointer-ref {
    cursor: pointer;
}

::ng-deep .swal2-icon {
	margin: 10px !important;
}