@media(min-width: 768px){
    div.col-sm-7.seven-three{width:60%!important;}
    div.col-sm-5.five-two{width:40%!important;}
}

.footer-heading{
  font-size: medium;
    font-weight: 500;
    color: #0058B0;
    margin-left: 25px;
}
.about-invent{
  margin-left: 35px;
    color:   #0058B0;
    font-weight: 500;
}
.about-paragraph{
  margin-left: auto;
  margin-right: auto;
  padding-left: 35px;
  padding-right: 50px;
}
.contacts{
  padding-left: 125px !important;
}
@media(max-width:425px){
  .contacts{
    padding-left: 0px !important;
  }
}

.footer-links{
    font-weight: 500;
}