<footer style="background-color: #e8e8e8; padding-top: 15px;">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 seven-three">
          <div class="row">
            <div class="col-sm-4">
              <h6 class="footer-heading">COMPANY</h6>
              <ul class="ul-footer">
                <li class="footer-links">About Us</li>
                <li class="footer-links">Meet the Team</li>
                <li class="footer-links">Case studies</li>
                <li class="footer-links">Press and Media Kit</li>
                <li class="footer-links">Jobs</li>
                <li class="footer-links">FAQs</li>
              </ul>
            </div>
            <div class="col-sm-4">
              <h6 class="footer-heading">JOIN</h6>
              <ul class="ul-footer">
                <li class="footer-links">Investors</li>
                <li class="footer-links">Entrepreneurs</li>
              </ul>
            </div>
            <div class="col-sm-4">
              <h6 class="footer-heading">LEARN</h6>
              <ul class="ul-footer">
                <li class="footer-links">Equity Crowdfunding</li>
                <li class="footer-links">Academy</li>
                <li class="footer-links">Resources</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-5 five-two">
          <div class="row">
            <div class="col-sm-6">
              <h6 class="footer-heading">LEGAL</h6>
              <ul class="ul-footer">
                <li class="footer-links">Terms of Use</li>
                <li class="footer-links">Privacy Policy</li>
                <li class="footer-links">Cookie Notice</li>
                <li class="footer-links">Legal Documents</li>
              </ul>
            </div>
            <div class="col-sm-6">
              <h6 class="footer-heading">HOW IT WORKS</h6>
              <ul class="ul-footer">
                <li class="footer-links">Invest</li>
                <li class="footer-links">Raised</li>
                <li class="footer-links">Regulate</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br /><br /><br />
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>About Invent Fund</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua
        </p>
      </div>
      <div class="col-md-6">
        <div class="contacts">
          <p class="mb-0">Get in Touch With Us:&nbsp; help@inventfunds.com</p>
          <p class="mb-0">
            No.135, 7th Main Road, 4th Block, Jayanagar, Bangalore-560011
          </p>
          <p>You can also find us on:</p>

          <div>
            <i style="color: #0e76a8;" class="mr-2 fab fa-linkedin-in"></i>
            <i style="color: #38a1f3;" class="mx-2 fab fa-twitter"></i>
            <i style="color: #3b5998;" class="mx-2 fab fa-facebook-f"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br /><br />
</footer>
