html,
body {
	overflow-x: hidden !important;
}
.jumbotron {
	background-color: #0058b0;
	background-size: 100% 100%;
	color: white;
	margin-bottom: 0;
}

.navbar-scroll {
	background-color: #0058b0 !important;
}

.font-wt-600 {
	font-weight: 600;
}

.white-header {
	background-color: white;
	li > a {
		color: black !important;
	}
}

@media (max-width: 768px) {
	.navbar {
		background-color: #034b94 !important;
	}
}

@media (max-width: 425px) {
	.get-started-btn {
		margin-top: 25px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
	.padding-top-50 {
		padding-top: 40px !important;
	}
	.testimonial-carousel {
		width: 17rem !important;
		display: inline-block;
		margin: 14px !important;
	}
}

.testimonial-carousel {
	width: 16rem;
	display: inline-block;
}

.padding-top-50 {
	padding-top: 50px;
}

.margin-left-50 {
	margin-left: 50px;
}

.text-white {
	color: white;
}

.img-left {
	float: left;
}

.span4 img {
	margin-right: 25px;
}

.span4 .img-left {
	float: left;
}

.span4 .img-right {
	float: right;
}

.navbar-nav > li {
	margin-left: 20px;
	margin-right: 20px;
}

.numberCircle {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	text-align: center;
	font-size: 21.6px;
	border: 2px solid #0058b0;
	color: white;
	background: #0058b0;
	position: absolute;
	top: -50px;
	left: 50%;
	transform: translateX(-50%);
}

.margin-top-10 {
	margin-top: 20px;
}

.card-body {
	position: relative;
	padding-top: 30px;
}

.card-circle-img {
	width: 55px;
	height: 80px;
}

.font-small {
	font-size: medium !important;
}

.font-blue {
	color: #0058b0;
}

.slick-prev:before,
.slick-next:before {
	content: '←' !important;
	font-size: 35px !important;
	height: 40px !important;
	line-height: 40px !important;
	width: 40px !important;
	display: block !important;
}

.content-center {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.card-image-width {
	width: 67px;
	left: 16px !important;
	top: 16px !important;
	position: relative;
}

.card-shadow {
	box-shadow: 0px 0px 6px 0px;
}

#count {
	line-height: 100px;
	color: black;
	margin-left: 30px;
	font-size: 25px;
}

#counterAnimation {
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin: 5px;
}

.blue {
	background-color: #0058b0 !important;
	color: #0058b0 !important;
}

.white {
	background-color: #e8e8e8 !important;
	color: #e8e8e8 !important;
}

.card-img {
	width: 86px;
	height: 95px;
	margin-left: 30px;
	margin-top: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	background-color: #0058b0;
	border-radius: 20%;
}

a.signup-btn:link,
a.signup-btn:visited {
	background-color: white;
	color: black;
	padding: 6px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 18px;
	font-size: large;
	font-weight: 450;
}

a.signup-btn:hover,
a.signup-btn:active {
	background-color: whitesmoke;
}

a.get-started-btn:link,
a.get-started-btn:visited {
	background-color: white;
	color: #0058b0;
	padding: 6px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 6px;
	font-size: medium;
	font-weight: 600;
}

a.get-started-btn:hover,
a.get-started-btn:active {
	background-color: whitesmoke;
}

.prev-button {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	z-index: 3;
	color: white;
	line-height: 200px;
}

.next-button {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	z-index: 2;
	color: white;
	line-height: 200px;
}

#carousel {
	position: relative;
	height: 400px;
	top: 50%;
	transform: translateY(-50%);
	overflow: hidden;
}

#carousel div {
	position: absolute;
	transition: transform 1s, left 1s, opacity 1s, z-index 0s;
	opacity: 1;
}

#carousel div img {
	width: 400px;
	transition: width 1s;
}

#carousel div.hideLeft {
	left: 0%;
	opacity: 0;
	transform: translateY(50%) translateX(-50%);
}

#carousel div.hideLeft img {
	width: 200px;
}

#carousel div.hideRight {
	left: 100%;
	opacity: 0;
	transform: translateY(50%) translateX(-50%);
}

#carousel div.hideRight img {
	width: 200px;
}

#carousel div.prev {
	z-index: 5;
	left: 30%;
	transform: translateY(50px) translateX(-50%);
}

#carousel div.prev img {
	width: 300px;
}

#carousel div.prevLeftSecond {
	z-index: 4;
	left: 15%;
	transform: translateY(50%) translateX(-50%);
	opacity: 0.7;
}

#carousel div.prevLeftSecond img {
	width: 200px;
}

#carousel div.selected {
	z-index: 10;
	left: 50%;
	transform: translateY(0px) translateX(-50%);
}

#carousel div.next {
	z-index: 5;
	left: 70%;
	transform: translateY(50px) translateX(-50%);
}

#carousel div.next img {
	width: 300px;
}

#carousel div.nextRightSecond {
	z-index: 4;
	left: 85%;
	transform: translateY(50%) translateX(-50%);
	opacity: 0.7;
}

#carousel div.nextRightSecond img {
	width: 200px;
}

.buttons {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	bottom: 10px;
}

.parallax-container {
	max-width: 960px;
	margin: 0 auto;
}

section.module:last-child {
	margin-bottom: 0;
}

section.module h2 {
	margin-bottom: 40px;
	font-family: 'Roboto Slab', serif;
	font-size: 30px;
}

section.module p {
	margin-bottom: 40px;
	font-size: 16px;
	font-weight: 300;
}

section.module p:last-child {
	margin-bottom: 0;
}

section.module.content {
	padding: 40px 0;
	background-color: rgba(207, 216, 220, 0.5);
}

section.module.content:last-child {
	margin-bottom: 60px;
}

section.module.parallax {
	padding: 240px 0;
	background-position: 0 0;
}

section.module.parallax h1 {
	color: #1e1e1e;
	font-size: 48px;
	line-height: 1;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 0 10px white;
}

section.module.parallax-1 {
	background-position: 50% 0;
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: white;
	background-blend-mode: screen;
}

section.module.parallax-2 {
	background-position: 50% 0;
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #2476c8;
	background-blend-mode: screen;
}

section.module.parallax-3 {
	background-position: 50% 0;
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: white;
	background-blend-mode: screen;
}

@media all and (min-width: 600px) {
	section.module h2 {
		font-size: 42px;
	}
	section.module p {
		font-size: 20px;
	}
	section.module.parallax {
		// padding: 300px 0;
		padding: 70px 0;
	}
	section.module.parallax h1 {
		font-size: 96px;
	}
}

@media all and (min-width: 960px) {
	section.module.parallax h1 {
		font-size: 160px;
	}
}

/*footer*/
.footer .container-fluid {
	height: auto;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
}

footer .container-fluid a {
	display: inline-block;
	color: #ddd;
	padding-left: 1em;
}

footer .container-fluid p {
	display: inline-block;
	color: #ddd;
	padding-left: 1em;
	padding-right: 2em;
}

@media (max-width: 768px) {
	.col-md-4 {
		text-align: center;
		line-height: 30px;
	}
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.slick-next {
	background-color: blue;
}

html {
	height: 100%;
}

.linear-grad {
	height: 100%;
	background: linear-gradient(180deg, #0058b0 50%, #e8e8e8 50%);
}

.padding-bottom-90 {
	padding-bottom: 90px;
}

#content-color {
	position: relative;
	z-index: 2;
	padding: 30px;
	text-align: center;
	// font-weight: bold;
	// font-family: Arial, sans-serif;
}

.input-group-addon {
	position: absolute;
	right: 9px;
	top: 15px;
}

//Carousel related

.card-bootstrap {
	.card-carousel1 {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}

	.card-carousel1 .my-card1 {
		height: 20rem;
		width: 18rem;
		position: relative;
		z-index: 1;
		-webkit-transform: scale(0.6) translateY(-2rem);
		transform: scale(0.6) translateY(-2rem);
		opacity: 0;
		cursor: pointer;
		pointer-events: none;
		transition: 1s;
	}

	.card-carousel1 .my-card1:after {
		content: '';
		position: absolute;
		height: 2px;
		width: 100%;
		border-radius: 100%;
		background-color: rgba(0, 0, 0, 0.3);
		bottom: -5rem;
		-webkit-filter: blur(4px);
		filter: blur(4px);
	}

	.card-carousel1 .my-card1.active {
		z-index: 3;
		-webkit-transform: scale(1) translateY(0) translateX(0);
		transform: scale(1) translateY(0) translateX(0);
		opacity: 1;
		pointer-events: auto;
		transition: 1s;
	}

	.card-carousel1 .my-card1.prev1,
	.card-carousel1 .my-card1.next1 {
		z-index: 2;
		-webkit-transform: scale(0.8) translateY(-1rem) translateX(0);
		transform: scale(0.8) translateY(-1rem) translateX(0);
		opacity: 0.6;
		pointer-events: auto;
		transition: 1s;
	}
}

.bg-custom-1 {
	background-color: #85144b;
}

.bg-custom-2 {
	background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.bg-custom-1 {
	background-color: #85144b;
}

.bg-custom-2 {
	background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.position-right {
	right: 10px !important;
}

.bold-18px {
	font-weight: 500;
	font-size: 16px;
	margin: 0px;
}

.padding-top-0px {
	padding-top: 0px;
}

.dropdown-menu {
	left: -150px !important;
}

@media only screen and(min-width:320px) and (max-width: 768px) {
	.dropdown-menu {
		left: 0 !important;
		position: fixed !important;
		/* z-index: 50; */
		left: 68% !important;
		right: 0px;
		float: right;
		top: 21% !important;
		width: 30% !important;
		transform: translateY(-50%) !important;
		min-width: 10px !important;
	}
}
