<nav
	class="navbar navbar-expand-md navbar-dark bg-fade fixed-top"
	style="background-color: #034b94;"
>
	<a class="navbar-brand pointer-ref" href="">
		<img
			width="100"
			height="45"
			src="../../assets/images/logo-transparent.svg"
			alt="logo"
		/>
	</a>
	<button
		class="navbar-toggler"
		type="button"
		data-toggle="collapse"
		data-target="#navbarsExampleDefault"
		aria-controls="navbarsExampleDefault"
		aria-expanded="false"
		aria-label="Toggle navigation"
	>
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<form class="form-inline ml-0 my-2 my-lg-0 margin-left-50">
			<div class="input-group">
				<input
					class="form-control mr-sm-2"
					type="text"
					class="form-control"
					placeholder="Search"
				/>
				<button class="btn" type="submit">
					<div class="input-group-append">
						<i style="color: white;" class="fa fa-search"></i>
					</div>
				</button>
			</div>
		</form>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link text-white font-wt-600" href="#" style="color: white; margin-top: 10px;"
					>How it works</a
				>
			</li>
			<li class="nav-item">
				<a class="nav-link text-white font-wt-600" href="#" style="color: white; margin-top: 10px;">Contact</a>
			</li>
			<li class="nav-item" *ngIf="hideSign">
				<a class="nav-link text-white font-wt-600" href="#/auth/login" style="color: white; margin-top: 10px;"
					>Login</a
				>
			</li>
			<li class="nav-item" *ngIf="hideSign">
				<a class="nav-link text-white font-wt-600" href="#/auth/sign-up" style="color: white; margin-top: 10px;"
					>Sign Up</a
				>
			</li>
			<li class="nav-item dropdown" *ngIf="!hideSign">
				<a
					class="nav-link dropdown-toggle"
					href="#"
					id="navbarDropdownMenuLink"
					role="button"
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false"
				>
					<img
						src="{{ avatar$ | async }}"
						width="40"
						height="40"
						class="rounded-circle"
					/>
				</a>
				<div
					class="dropdown-menu position-right"
					aria-labelledby="navbarDropdownMenuLink"
				>
					<h2 class="dropdown-item bold-18px">Account</h2>
					<a
						class="dropdown-item padding-top-0px"
						(click)="routerNavigation('profileSettings')"
						>Settings And Privacy</a
					>
					<h2
						class="dropdown-item bold-18px"
						*ngIf="(currentRouter | async) != 'profile'"
						(click)="routerNavigation('profile')"
					>
						Profile
					</h2>
					<h2
						class="dropdown-item bold-18px"
						*ngIf="(currentRouter | async) != 'dashboard'"
						(click)="routerNavigation('dashboard')"
					>
						Dashboard
					</h2>
					<h2
						class="dropdown-item bold-18px"
						(click)="routerNavigation('logOut')"
					>
						Logout
					</h2>
				</div>
			</li>
		</ul>
	</div>
</nav>

<div class="jumbotron jumbotron-fluid">
	<div class="container padding-top-50">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-sm-5">
				<h2 class="font-weight-bold">
					Brighter ideas
					<small>become</small>
				</h2>
				<h2 class="font-weight-bold">
					Bright
					<small>when brought to life.</small>
				</h2>

				<div class="block mx-4" style="padding-top: 20px;">
					<div class="row">
						<div class="span4">
							<img
								style="margin-right: 45px;"
								class="img-left"
								src="../../assets/images/Founder.svg"
							/>
							<div class="content-heading">
								<h5 class="font-weight-bold">Founder &nbsp;</h5>
							</div>
							<p>
								Bring your idea into reality.Interact with the
								fixers and funders.
							</p>
						</div>
					</div>
					<br />

					<div class="row">
						<div class="span4">
							<img
								class="img-left"
								src="../../assets/images/Fixer.svg"
							/>
							<div class="content-heading">
								<h5 class="font-weight-bold">Fixer &nbsp;</h5>
							</div>
							<p>
								Help Founders and Funders with your skills and
								earn rewards
							</p>
						</div>
					</div>
					<br />
					<div class="row">
						<div class="span4">
							<img
								class="img-left"
								src="../../assets/images/Funder.svg"
							/>
							<div class="content-heading">
								<h5 class="font-weight-bold">Funder &nbsp;</h5>
							</div>
							<p>
								Pool in your money for bigger profits.Interact
								with fixers and founders
							</p>
						</div>
					</div>
				</div>
			</div>

			<div
				class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-sm-5 d-flex flex-wrap align-items-center"
			>
				<img
					class="img-fluid mt-4"
					src="../../assets/images/handshake.svg"
					alt="handshake"
				/>
			</div>
		</div>

		<div class="row">
			<a class="get-started-btn" href="#/auth/sign-up">Get Started</a>
		</div>
	</div>
</div>

<!-- Section How it works -->
<section
	style="padding-top: 20px;"
	class="module parallax parallax-1"
	data-type="background"
	data-speed="10"
>
	<div class="container">
		<div class="row">
			<h4 class="content-center font-wt-600">How it works</h4>
		</div>
	</div>
	<div class="parallax-container" style="margin-top: 50px;">
		<div class="card-deck">
			<div class="mx-2 my-4 card card-shadow">
				<div class="my-4 card-body" style="text-align: center;">
					<div class="numberCircle">
						<img
							class="card-circle-img"
							src="../../assets/images/ideas.svg"
							alt=""
						/>
					</div>
					<h5
						class="card-title margin-top-10"
						style="padding-bottom: 15px;"
					>
						Pitch in your ideas
					</h5>
					<p class="card-text font-small">
						The entrepreneurs and start-up companies seeking venture
						capital range from innovative inventions
					</p>
				</div>
			</div>
			<div class="mx-2 my-4 card card-shadow">
				<div class="my-4 card-body" style="text-align: center;">
					<div class="numberCircle">
						<img
							class="card-circle-img"
							src="../../assets/images/project.svg"
							alt=""
						/>
					</div>
					<h5 class="card-title margin-top-10">
						Find projects and execute
					</h5>
					<p class="card-text font-small">
						The entrepreneurs and start-up companies seeking venture
						capital range from innovative inventions
					</p>
				</div>
			</div>
			<div class="mx-2 my-4 card card-shadow">
				<div class="my-4 card-body" style="text-align: center;">
					<div class="numberCircle">
						<img
							class="card-circle-img"
							src="../../assets/images/ideas.svg"
							alt=""
						/>
					</div>
					<h5
						class="card-title margin-top-10"
						style="padding-bottom: 15px;"
					>
						Invest on ideas
					</h5>
					<p class="card-text font-small">
						The entrepreneurs and start-up companies seeking venture
						capital range from innovative inventions
					</p>
				</div>
			</div>
			<div class="mx-2 my-4 card card-shadow">
				<div class="my-4 card-body" style="text-align: center;">
					<div class="numberCircle">
						<img
							class="card-circle-img"
							src="../../assets/images/collaboration.svg"
							alt=""
						/>
					</div>
					<h5 class="card-title margin-top-10">
						Mutual collaboration
					</h5>
					<p class="card-text font-small">
						The entrepreneurs and start-up companies seeking venture
						capital range from innovative inventions
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Section Who are you -->

<section
	style="padding-top: 20px; padding-bottom: 10px;"
	class="module parallax parallax-2"
	data-type="background"
	data-speed="10"
>
	<h4 class="content-center text-white">Who are you?</h4>

	<div class="parallax-container">
		<div class="card-deck">
			<div class="mx-2 card">
				<img
					class="card-img"
					src="../../assets/images/Funder-blue.svg"
				/>
				<div class="card-body">
					<h5 class="card-title">Founder</h5>
					<ul>
						<li class="card-text">Pitch your idea</li>
						<li class="card-text">Make your idea reality</li>
						<li class="card-text">
							Connect with Fixers and Funders
						</li>
						<br />
					</ul>
					<a
						href="#"
						style="border-radius: 16px;"
						class="btn btn-primary"
						>Know More</a
					>
				</div>
			</div>
			<div class="mx-2 card">
				<img
					class="card-img"
					src="../../assets/images/Founder-blue.svg"
				/>
				<div class="card-body">
					<h5 class="card-title">Fixer</h5>
					<ul>
						<li class="card-text">Find a worthy idea</li>
						<li class="card-text">Invest and grow</li>
						<li class="card-text">Become owner of company.</li>
						<li class="card-text">Connect with founders</li>
					</ul>
					<a
						href="#"
						style="border-radius: 16px;"
						class="btn btn-primary"
						>Know More</a
					>
				</div>
			</div>
			<div class="mx-2 card">
				<img
					class="card-img"
					src="../../assets/images/Fixer-Blue.svg"
				/>
				<div class="card-body">
					<h5 class="card-title">Funder</h5>
					<ul>
						<li class="card-text">Find opportunities</li>
						<li class="card-text">Become solution provider.</li>
						<li class="card-text">Become Business Owner</li>
						<li class="card-text">Connect with Founders</li>
					</ul>
					<a
						href="#"
						style="border-radius: 16px;"
						class="btn btn-primary"
						>Know More</a
					>
				</div>
			</div>
		</div>
		<h4 class="content-center text-white text-center">
			Find what you need and engage with confidence
		</h4>
		<div class="row content-center">
			<a class="signup-btn" href="#/auth/sign-up">Signup Now</a>
		</div>
	</div>
</section>

<!-- Section Invest  -->

<section
	style="padding-top: 20px; padding-bottom: 10px;"
	class="module parallax parallax-3"
	data-type="background"
	data-speed="10"
>
	<div class="parallax-container">
		<!-- <div class="row"> -->
		<h4 class="content-center font-blue text-center">
			Invest alongside top venture capital firms and angel investors
		</h4>
		<!-- </div> -->

		<ngx-slick-carousel
			style="width: 90%;"
			class="slick-slider slick-dotted"
			#slickModal="slick-carousel"
			[config]="slideConfig3"
		>
			<div ngxSlickItem *ngFor="let item of items">
				<img
					style="margin: 0 auto;"
					src="{{ item.img }}"
					alt=""
					width="40%"
				/>
			</div>
		</ngx-slick-carousel>

		<!-- <app-carousel #carousel [showControls]="false">
      <ng-container *ngFor=" let item of items">
    
        <div *carouselSlide class="mx-2 my-4 card no-shadow" style="width: 11rem;  display:inline-block">
          <img [src]="item.img" style="width: 60%; margin-left: 60px;" class="card-img-top content-center">
        </div>
      </ng-container>
    
      <div class="prev-button" (click)="carousel.prev()">
        <a class="carousel-control-prev-icon"></a>
      </div>
      <div class="next-button" (click)="carousel.next()">
        <a class="carousel-control-next-icon"></a>
      </div>
    </app-carousel>
     -->

		<br /><br /><br />

		<div class="container" style="padding: 6px;">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-12 col-12 my-2">
					<h3
						class="centre-text-bold"
						counto
						[step]="step"
						[countTo]="150"
						[countFrom]="0"
						[duration]="4"
						(countoChange)="counto_a = $event"
					>
						{{ counto_a | currency: 'USD':'symbol':'1.2-2' }}
						Million+
					</h3>
					<h5 class="center-align">Total Invested</h5>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 col-12 my-2">
					<h3
						class="centre-text-bold"
						counto
						[step]="step"
						[countTo]="250"
						[countFrom]="0"
						[duration]="4"
						(countoChange)="counto_b = $event"
					>
						{{ counto_b }}+
					</h3>
					<h5 class="center-align">Total Investors</h5>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 col-12 my-2">
					<h3
						class="centre-text-bold"
						counto
						[step]="step"
						[countTo]="150"
						[countFrom]="0"
						[duration]="4"
						(countoChange)="counto_c = $event"
					>
						{{ counto_c }}+
					</h3>
					<h5 class="center-align">Ideas Generated</h5>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 col-12 my-2">
					<h3
						class="centre-text-bold"
						counto
						[step]="step"
						[countTo]="500"
						[countFrom]="0"
						[duration]="4"
						(countoChange)="counto_d = $event"
					>
						{{ counto_d }}+
					</h3>
					<h5 class="center-align">Solution Providers</h5>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="linear-grad">
	<div class="parallax-container">
		<div id="content-color">
			<div class="row">
				<h4 class="content-center text-white">Fund Raised</h4>
			</div>

			<div class="card-deck">
				<div class="mx-2 my-2 card padding-bottom-90">
					<img
						src="../../assets/images/Waterfall.svg"
						class="card-img-top"
						alt="..."
					/>
					<div class="card-body">
						<h5 class="centre-text-bold">Water Supply</h5>
						<p class="card-text text-left">
							Lorem ipsum dolor sit amet, consectetur adipiscing
							elit, sed do eiusmod tempor incididunt ut labore et
							dolore magna aliqua
						</p>
					</div>
				</div>
				<div class="mx-2 my-2 card padding-bottom-90">
					<img
						src="../../assets/images/power-plant.svg"
						class="card-img-top"
						alt="..."
					/>
					<div class="card-body">
						<h5 class="centre-text-bold">Power Plant</h5>
						<p class="card-text text-left">
							Lorem ipsum dolor sit amet, consectetur adipiscing
							elit, sed do eiusmod tempor incididunt ut labore et
							dolore magna aliqua
						</p>
					</div>
				</div>
				<div class="mx-2 my-2 card padding-bottom-90">
					<img
						src="../../assets/images/agriculture.svg"
						class="card-img-top"
						alt="..."
					/>
					<div class="card-body">
						<h5 class="centre-text-bold">Agriculture</h5>
						<p class="card-text text-left">
							Lorem ipsum dolor sit amet, consectetur adipiscing
							elit, sed do eiusmod tempor incididunt ut labore et
							dolore magna aliqua
						</p>
					</div>
				</div>
			</div>
			<!-- <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 padding-bottom-90">
          <div class="mx-2 my-2 card">
            <img src="../../assets/images/Waterfall.svg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="centre-text-bold">Water Supply</h5>
              <p class="card-text text-left">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 padding-bottom-90">
          <div class="mx-2 my-2 card">
            <img src="../../assets/images/power-plant.svg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="centre-text-bold">Power Plant</h5>
              <p class="card-text text-left">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 padding-bottom-90">
          <div class="mx-2 my-2 card">
            <img src="../../assets/images/agriculture.svg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="centre-text-bold">Agriculture</h5>
              <p class="card-text text-left">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua
              </p>
            </div>
          </div>
        </div>
      </div> -->
		</div>
	</div>
</section>

<section
	style="padding-top: 20px; padding-bottom: 10px;"
	class="module parallax parallax-3"
	data-type="background"
	data-speed="10"
>
	<div class="container">
		<div class="row">
			<h4 class="my-4 content-center ml-4">
				Who they are and why they trust us
			</h4>
		</div>
	</div>
	<app-carousel #carousel [showControls]="false">
		<ng-container *ngFor="let item of items">
			<div *carouselSlide class="mx-4 my-4 card testimonial-carousel">
				<img
					src="../../assets/images/avatars/profile.jpg"
					style="width: 60%; margin-left: 60px;"
					class="card-img-top rounded-circle content-center"
				/>

				<div class="card-body">
					<h4
						style="font-size: smaller;"
						class="card-title text-center"
					>
						Name
					</h4>
					<h5 style="font-size: small;" class="text-center">
						Vice President
					</h5>
					<p style="font-size: small;" class="card-text text-center">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit,
						sed do eiusmod tempor incididunt ut labore et dolore
						magna aliqua. Ut enim ad minim veniam, quis nostrud
						exercitation
					</p>
					<div class="text-center">
						<i
							style="color: #0e76a8;"
							class="mx-2 fab fa-linkedin-in"
						></i>
						<i
							style="color: #38a1f3;"
							class="mx-2 fab fa-twitter"
						></i>
						<i
							style="color: #3b5998;"
							class="mx-2 fab fa-facebook-f"
						></i>
					</div>
				</div>
			</div>
		</ng-container>

		<div
			style="height: 250px;"
			class="prev-button"
			(click)="carousel.prev()"
		>
			<a class="carousel-control-prev-icon"></a>
		</div>
		<div
			style="height: 250px;"
			class="next-button"
			(click)="carousel.next()"
		>
			<a class="carousel-control-next-icon"></a>
		</div>
	</app-carousel>
</section>
<br /><br /><br />

<app-landing-footer></app-landing-footer>
