#chat-panel {
  #contacts-list {
    .contacts-list-item {
      &.active {
        background: rgba(0, 0, 0, 0.04);

        &:after {
          background-color: #039be5;
        }
      }

      .unread-count {
        background-color: #039be5;
        color: #e0e0e0;
      }

      .status-icon {
        border-color: #f5f5f5 !important;
      }
    }
  }

  #chat {
    .messages {
      .message-row {
        &.contact {
          .bubble {
            background-color: #3c4252;
            color: white;
          }
        }

        &.me {
          .bubble {
            color: rgba(0, 0, 0, 0.87);
            background-color: #e0e0e0;
          }
        }
      }
    }

    .reply-form {
      .message-text {
        background-color: #f5f5f5;
      }
    }
  }
}
