@import '../../../assets/base.scss';
@import './chat-panel.theme.scss';

#chat-panel {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 360px;
  min-width: 360px;
  max-width: 360px;
  z-index: 99;
  overflow: hidden;

  // @include media-breakpoint('xs') {
  //   max-width: none !important;
  //   width: 100% !important;
  // }

  .header {
    position: fixed;
    height: 64px;
    max-height: 64px;
    min-height: 64px;
    z-index: 10;
    color: #fff !important;
    background-color: #3c4252;

    .title {
      cursor: pointer !important;
      margin: auto;

      .inline {
        display: inline-block;
        vertical-align: middle;
      }

      i {
        margin-left: 4px;
      }

      span {
        max-width: 120px;
        transition: opacity 300ms ease-in-out;
        font-weight: 400;
        font-size: 16px;
      }

      .avatar {
        width: 40px;
        min-width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
  }

  .content {
    flex: 1 1 100%;
    min-height: 0;
  }

  #contacts-list {
    position: relative;
    z-index: 5;
    padding: 16px 0;
    width: 72px;
    min-width: 72px;
    max-width: 72px;
    height: 695px;
    -webkit-overflow-scrolling: touch;

    .contacts-list-item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 16px;
      height: 56px;
      cursor: pointer;

      &.active {
        position: relative;
        // color: #039be5;

        &:after {
          position: absolute;
          top: 8px;
          right: 0;
          bottom: 8px;
          content: '';
          width: 4px;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
      }

      &.offline {
        .mat-list-item-content {
          img {
            filter: grayscale(100%);
            opacity: 0.7;
          }

          h3 {
            opacity: 0.7;
          }
        }
      }

      .avatar-small {
        margin: 0;
        width: 32px;
        height: 32px;
        min-width: 32px;
        border-radius: 50%;
        text-align: center;
      }

      .unread-count {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 18px;
        height: 18px;
        top: 8px;
        left: 12px;
        border-radius: 9px;
        padding: 0 5px;
        font-size: 11px;
        text-align: center;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.35);
      }

      .status-icon {
        position: absolute;
        width: 12px;
        height: 12px;
        bottom: 10px;
        left: 44px;
        border: 2px solid;
        border-radius: 50%;

        &.active {
          background-color: #4caf50 !important;
        }

        &.do-not-disturb {
          background-color: #f44336 !important;
        }

        &.away {
          background-color: #ffc107 !important;
        }

        &.offline {
          background-color: #646464 !important;
        }
      }
    }
  }

  #chat {
    position: relative;
    z-index: 7;
    flex: 1 1 100%;

    .messages {
      position: relative;
      padding-top: 16px;
      padding-right: 0px;
      padding-bottom: 116px;
      padding-left: 32px;
      -webkit-overflow-scrolling: touch;

      .message-row {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        padding: 0 16px 4px 16px;

        .avatar {
          position: absolute;
          left: -32px;
          margin: 0;
          width: 40px;
          min-width: 40px;
          height: 40px;
          line-height: 40px;
          margin: 0 8px 0 0;
          border-radius: 50%;
          font-size: 17px;
          font-weight: 600;
          text-align: center;
        }

        .bubble {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 12px;
          max-width: 100%;

          .message {
            white-space: pre-wrap;
            line-height: 1.2;
            word-break: break-word;
          }

          .time {
            position: absolute;
            display: none;
            width: 100%;
            font-size: 11px;
            margin-top: 8px;
            top: 100%;
            left: 0;
            white-space: nowrap;
            color: black;
          }
        }

        &.contact {
          .bubble {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;

            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;

            .time {
              margin-left: 12px;
            }
          }

          &.first-of-group {
            .bubble {
              border-top-left-radius: 20px;
            }
          }

          &.last-of-group {
            .bubble {
              border-bottom-left-radius: 20px;
            }
          }
        }

        &.me {
          padding-left: 40px;

          .avatar {
            order: 2;
            margin: 0 0 0 16px;
          }

          .bubble {
            margin-left: auto;

            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;

            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;

            .time {
              justify-content: flex-end;
              right: 0;
              margin-right: 12px;
            }
          }

          &.first-of-group {
            .bubble {
              border-top-right-radius: 20px;
            }
          }

          &.last-of-group {
            .bubble {
              border-bottom-right-radius: 20px;
            }
          }
        }

        &.contact + .me,
        &.me + .contact {
          padding-top: 20px;
          margin-top: 20px;
        }

        &.first-of-group {
          .bubble {
            border-top-left-radius: 20px;
            padding-top: 13px;
          }
        }

        &.last-of-group {
          .bubble {
            border-bottom-left-radius: 20px;
            padding-bottom: 13px;

            .time {
              display: flex;
            }
          }
        }
      }

      .no-messages-icon {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        padding: 0 24px;
        margin-top: -64px;
        text-align: center;
      }

      .no-messages {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 0 16px 24px 16px;
        text-align: center;
      }

      .no-contact-selected {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        transform: translateY(-50%);
        padding: 0 24px;
        text-align: center;

        .no-contact {
          margin-top: 24px;
        }
      }
    }

    .reply-form {
      bottom: 0;
      width: 360px;
      right: 0px;

      .message-text {
        padding: 16px 8px;
        border-top: 1px solid;
        padding: 0;
        border: none;
        @include mat-elevation(2);

        .input-icons i {
          position: absolute;
        }

        .input-icons {
          width: 100%;
          margin-bottom: 10px;
        }

        .icon {
          padding: 25px;
          min-width: 40px;
        }

        .input-field {
          width: 100%;
          // padding: 10px;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 10px;
          padding-right: 40px !important;
          text-indent: 10px !important;
        }

        textarea {
          overflow: hidden;
          margin: 16px 48px 16px 16px;
          width: 90% !important;
          padding: 0;
          height: 45px;
          border-radius: 25px;
          border-style: none;
          border-color: Transparent;
        }

        textarea.active {
          border-color: white !important;
        }
      }

      .send-message-button {
        position: absolute;
        right: 16px;
        bottom: 21px;
      }
    }
  }
}

.scrollable {
  overflow-y: auto;
}

.r-12 {
  right: 12px;
}

.ml-12 {
  margin-left: 12px;
}

.m-12 {
  margin: 12px;
}

.p-a {
  position: absolute;
}

.mt-50 {
  margin-top: 50px;
}

.height-30 {
  height: 30rem !important;
}

.m-t-64 {
  margin-top: 64px;
}

.ml-16 {
  margin-left: 16px !important;
}

.primary {
  color: #fff !important;
}

.p-l-0 {
  padding-left: 0 !important;
}

.p-f {
  position: fixed;
}
