<div id="chat-panel">
  <div id="chat-panel" class="header mat-elevation-z4 primary">
    <!-- <ng-container *ngIf="selectedContact === null">
      <div class="title ml-16" (click)="unfoldSidebarTemporarily()">
        <span><i class="inline vsm-icon pe-7s-chat pe-3x pe-va" aria-hidden="true"></i></span>
        <h6 class="ml-12 inline">Team Chat</h6>
        <span (click)="toggleDrawer()"
          ><i class="inline fa fa-times m-12 p-a r-12" aria-hidden="true"></i
        ></span>
      </div>
    </ng-container> -->

    <ng-container>
      <div class="title ml-16" (click)="unfoldSidebarTemporarily()">
        <img src="{{ avatar$ | async }}" width="40" height="40" class="rounded-circle" class="inline avatar mx-16" />
        <h6 class="ml-12 inline">{{ appState.encryptedDataValue('name') }}</h6>
        <span (click)="toggleDrawer()"><i class="inline fa fa-times m-12 p-a r-12" aria-hidden="true"></i></span>
      </div>
    </ng-container>
  </div>

  <div class="content m-t-64">
    <div class="row">
      <div class="col-3 scroll-area-lg-700">
        <perfect-scrollbar [autoPropagation]="true">
          <div id="contacts-list" style="background-color: #f5f5f5 !important;">
            <div *ngFor="let contact of contacts" class="contacts-list-item" [ngClass]="contact.status"
              [class.active]="contact.id === selectedContact?.id"
              (click)="toggleChat(contact, contact.id, contact.channelId)">
              <img class="avatar-small" [src]="contact.avatar" />
              <div class="unread-count" *ngIf="contact.unread">{{ contact.unread }}</div>
              <div class="status-icon" [ngClass]="contact.status"></div>
            </div>
          </div>
        </perfect-scrollbar>
      </div>
      <div class="col-9 scroll-area-lg-700 p-l-0">
        <perfect-scrollbar [autoPropagation]="true" [scrollIndicators]="true" #perfectScroll>
          <div id="chat">
            <div id="messages" class="messages" fxFlex="1 1 auto" *ngIf="messages.length > 0">
              <!-- messages goes here! -->
              <ng-container *ngIf="messages">
                <div *ngFor="let message of messages; let i = index" class="message-row" [ngClass]="{
                    me: message.id === userId,
                    contact: message.id !== userId,
                    'first-of-group': isFirstMessageOfGroup(message, i),
                    'last-of-group': isLastMessageOfGroup(message, i)
                  }">
                  <!-- {{ userId }} -->
                  <img *ngIf="shouldShowContactAvatar(message, i)" src="{{ selectedContact.avatar }}" class="avatar" />
                  <div class="bubble">
                    <div class="message">{{ message.text }}</div>
                    <div class="time secondary-text">{{ message.time | date: 'short' }}</div>
                  </div>
                </div>
              </ng-container>
            </div>
            <div id="messages" class="messages height-30" fxFlex="1 1 auto" *ngIf="
                (selectedContact && chat && chat.dialog && chat.dialog.length === 0) ||
                !selectedContact
              ">
              <ng-container *ngIf="selectedContact && chat && chat.dialog && chat.dialog.length === 0">
                <div class="no-messages-icon">
                  <span class="s-128 fade-text"><i class="inline vsm-icon pe-7s-chat pe-3x pe-va"
                      aria-hidden="true"></i></span>
                </div>

                <div class="no-messages secondary-text">
                  Start a conversation by typing your message below.
                </div>
              </ng-container>
              <ng-container *ngIf="!selectedContact">
                <div class="no-contact-selected">
                  <div class="no-contact-icon">
                    <span class="s-128 fade-text"><i class="inline vsm-icon pe-7s-chat pe-3x pe-va"
                        aria-hidden="true"></i></span>
                  </div>

                  <div class="no-contact secondary-text">
                    Select a contact to start a conversation.
                  </div>
                </div>
              </ng-container>
            </div>

            <div class="reply-form" fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="center center"
              [ngClass]="{ 'p-f': globals.toggleDrawer }" *ngIf="selectedContact">
              <form #replyForm="ngForm" (keydown.enter)="reply($event)" fxFlex fxLayout="row"
                fxLayoutAlign="start center">
                <fieldset class="message-text">
                  <div class="input-icons">
                    <i class="fa fa-paper-plane icon send-message-button" type="submit" aria-label="Send message"
                      (click)="reply($event)"></i>

                    <textarea #replyInput ngModel name="message" class="input-field" placeholder="Type your message"
                      [rows]="1"></textarea>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </perfect-scrollbar>
      </div>
    </div>
  </div>
</div>